<ion-view view-title="Messenger" hide-back-button="true" class="messenger">
    <ion-nav-buttons side="left ">
        <i class="icon ion-ios-arrow-back ion-chevron-left" ui-sref="tab.welcome"></i>
    </ion-nav-buttons>
    <ion-content class="background-color-grey">
        <div ng-if="authenticated">
            <div ng-controller="MessengerCtrl as mc">
                <ul class="list">
                   <!-- <label class="item item-input" ng-if="mc.conversations.length>8">
                        <i class="icon ion-search placeholder-icon"></i>
                        <input class="city" type="search" placeholder="Suche" ng-change-options='{ debounce: 1000 }'
                               ng-model="mc.contact"/>
                    </label>-->
                    <li class="item" ng-repeat="conversation in mc.conversationsHash | filter: mc.contact"
                        ui-sref="tab.messenger-messages({ conversationId: conversation._id, opponentId: conversation.opponent._id, opponentName: conversation.opponent.name})">
                        <img class="md-avatar" ng-src="{{conversation.opponent.picture}}"/>
                        <label>{{ conversation.opponent.name }}</label>
                        <label class="last-message">{{ conversation.lastMessage }}</label>
                        <div class="message-icon" ng-if="!conversation[userID + '_read']"
                             style="background-image: url('./images/icons/chat/messenger_erhalten.png');background-size: cover">
                        </div>
                    </li>
                </ul>
            </div>
        </div>
        <div ng-if="!authenticated">
            Bitte zuerst Registrieren!
        </div>
    </ion-content>
</ion-view>
