<ion-view view-title="Messenger" class="messenger">
    <ion-nav-buttons side="left ">
        <i class="icon ion-ios-arrow-back home-back-button" ui-sref="tab.welcome"></i>
    </ion-nav-buttons>
    <ion-content class="background-color-grey">
        <div ng-if="authenticated">
            <div ng-controller="MessengerCtrl as mc">
                <ul class="list">
                    <label class="item item-input" ng-if="mc.conversations.length>8">>
                        <i class="icon ion-search placeholder-icon"></i>
                        <input class="city" type="search" placeholder="Suche" ng-change-options='{ debounce: 1000 }'
                               ng-model="mc.contact"/>
                    </label>
                    <!-- TODO: search in conversation.name instead of conversation -->
                    <li class="item" ng-repeat="conversation in mc.conversations | filter: mc.contact"
                        ui-sref="tab.messenger-messages({ conversationId: conversation._id, opponentId: conversation.opponent._id})">
                        <img class="md-avatar" ng-src="{{conversation.opponent.picture + '?size=userThumb'}}"/>
                        <label>{{ conversation.opponent.name }}</label>
                        <label class="last-message">{{ conversation.lastMessage }}</label>
                    </li>
                </ul>
            </div>
        </div>
        <div ng-if="!authenticated">
            Bitte zuerst Registrieren!
        </div>
    </ion-content>
</ion-view>
