<ion-view view-title="Messenger" class="messages messenger-container" ng-controller="MessagesCtrl as msc">
    <ion-content class="background-color-grey">
        <div ng-if="authenticated">
            <div>
                <div class="content">
                    <div ng-class="{'out' : message.from === userID}" class="message"
                         ng-repeat="message in msc.messages">
                        <p><span ng-bind-html="message.message | emoji" class="message-content"></span>
                            <!--<span class="since">{{mc.since(message.create_date)}}</span></span>-->
                            <span class="bubble"></span>
                        </p>

                    </div>
                </div>
            </div>
        </div>
        <div ng-if="!authenticated">
            Bitte zuerst Registrieren!
        </div>
    </ion-content>
    <div class="list list-inset bottom">
        <div class="item item-input">
            <input id="my-message" class="my-message" type="text" ng-enter="msc.sendMessage(msc.textbox)" ng-model="msc.textbox" placeholder="Schreib etwas...">
            <button class="messenger-button" ng-click="msc.showEmojis = !msc.showEmojis" type="button" id="emoji"><img class="emoji-icon" src="./images/icons/face.png"></button>
            <div class="emoji-overlay" ng-if="msc.showEmojis">
                <span ng-click="msc.selectEmoji(item)" ng-bind-html="msc.toTrusted(item)" ng-repeat="item in msc.emojis"></span>
            </div>
        </div>
        <button class="button" ng-click="msc.sendMessage(msc.textbox)">
            Senden
        </button>
    </div>
</ion-view>
