<ion-view view-title="Locate" class="insert-location pageWithButton" ng-controller="InsertLocationCtrl as ilc">
    <ion-nav-buttons side="left ">
        <i class="icon ion-ios-arrow-back home-back-button" ui-sref="tab.welcome"></i>
    </ion-nav-buttons>
    <form novalidate name="ilc.form" id="insertLocationForm">
        <ion-content>
            <div ng-if="authenticated">
                <div class="location-image">
                    <div class="image-container" ng-if="!ilc.headerImagePath"
                         style="background-image: url('images/header-image-placeholder.png');background-size: cover">
                    </div>

                    <div class="image-container" ng-if="ilc.headerImagePath"
                         style="background-image: url({{ilc.webPath}}{{ilc.headerImagePath}});background-size: cover">
                    </div>
                    <a class="choose-image" ng-click="ilc.showPictureActions()">
                        <img class="image" src="images/icons/camera.png">
                    </a>
                </div>
                <li ng-class="{'error' : (ilc.error) && ilc.form.locationTitle.$error.required}"
                    class="item item-input">
                    <input type="text" ng-model="ilc.locationFormDetails.title" name="locationTitle"
                           placeholder="Gib der Location einen Titel" required>
                </li>
                <li ng-class="{'error' : (ilc.error) && ilc.form.locationDescription.$error.required}"
                    class="item item-input">
                <textarea ng-model="ilc.locationFormDetails.description" rows="4" type="input"
                          name="locationDescription"
                          placeholder="Beschreibe die Location" required></textarea>
                </li>
                <li ng-class="{'error' : (ilc.error) && ilc.form.locationTags.$error.required}"
                    class="item item-input tag-input">
                    <tags-input add-on-space="true" add-on-comma="true"
                                ng-class="{'error' : ilc.error && ilc.locationFormDetails.tags.length < 1}"
                                placeholder="Tag hinzufügen" ng-model="ilc.locationFormDetails.tags"></tags-input>
                </li>

                <button ng-class="{'error-button' : (ilc.error) && ilc.form.locationGps.$error.required}"
                        class="button gps-button" ng-click="ilc.getCurrentPosition()">
                    <span class="locate-text">Standort bestimmen</span>
                    <div class="flag-little"
                         style="background-image: url('images/icons/flag_klein_360.png');background-size: cover">
                    </div>
                </button>
                <div ng-if="ilc.googleMap" ng-class="{'error' : (ilc.error) && ilc.form.locationGps.$error.required}">
                    <ui-gmap-google-map class="google-map"
                                        center='ilc.map.center'
                                        zoom='ilc.map.zoom'
                                        events="ilc.map.events">
                        <ui-gmap-marker coords="ilc.map.clickedMarker"
                                        idKey="ilc.map.clickedMarker.id"
                                        options="ilc.map.clickedMarker.options">
                        </ui-gmap-marker>
                    </ui-gmap-google-map>
                </div>

                <div ng-hide="true">
                    <input type="checkbox" ng-model="ilc.mapMarkerSet" name="locationGps" required>
                </div>
                <li class="item item-toggle">
                    Location öffentlich
                    <label class="toggle toggle-dark toggle-assertive"
                           ng-click="ilc.locationFormDetails.public = ! ilc.locationFormDetails.public">

                        <input type="checkbox">

                        <div class="track">
                            <div class="handle"></div>
                        </div>
                    </label>
                </li>

            </div>
            <div ng-if="!authenticated" class="no-register">
                <div class="image-container-full"
                     style="background-image: url('images/svg/lorenz_frontansicht.svg')">
                </div>
                <span class="message">Melde dich an und tagge deine Lieblingslocations.</span>
                <span class="message">Oder registriere dich und werde ein Teil von Locator.</span>
            </div>
        </ion-content>
        <button ng-if="authenticated" class="button-bottom button background-green gps-button bottom button-full" type="submit"
                ng-click="ilc.saveLocation()">
            Location erstellen
        </button>
    </form>
</ion-view>
