<ion-view view-title="Locate" class="insert-location"
          ng-controller="InsertLocationCtrl as ilc" ng-class="authenticated ? 'pageWithBigButton' : ''">
    <ion-nav-buttons side="left ">
        <i class="icon ion-ios-arrow-back ion-chevron-left" ui-sref="tab.welcome" ng-if="!ilc.edit"></i>
    </ion-nav-buttons>
    <form novalidate name="ilc.form" id="insertLocationForm">
        <ion-content class="white my-has-tabs" ng-class="!authenticated ? 'not-auth-background' : ''">
            <div ng-if="authenticated">
                <div class="location-image">
                    <div class="image-container" ng-if="!ilc.headerImagePath">
                    </div>

                    <div class="image-container" ng-if="ilc.headerImagePath"
                         style="background-image: url({{ilc.webPath}}{{ilc.headerImagePath}});background-size: cover">
                    </div>
                    <a class="choose-image" ng-click="ilc.showPictureActions()">
                        <img class="image" src="images/svg/upload_kamera_icon.svg">
                    </a>
                </div>
                <li ng-class="{'error' : (ilc.error) && ilc.form.locationTitle.$error.required}"
                    class="item item-input fix-item-height">
                    <input maxlength="40" type="text" ng-model="ilc.locationFormDetails.title" name="locationTitle"
                           placeholder="Gib der Location einen Titel" required>
                </li>


                <li class="item item-icon-right" ng-click="ilc.goToMap()">
                    {{!ilc.mapMarkerSet ? 'Wo befindet sich die Location?' : 'Position ändern'}}
                    <i class="icon ion-chevron-right icon-accessory"></i>
                </li>

                <li class="item item-toggle">
                    Location öffentlich
                    <label class="toggle toggle-dark toggle-assertive">
                        <input type="checkbox" ng-model="ilc.locationFormDetails.public">

                        <div class="track">
                            <div class="handle"></div>
                        </div>
                    </label>
                </li>

                <li ng-class="{'error' : (ilc.error) && ilc.form.locationDescription.$error.required}"
                    class="item item-input">
                <textarea maxlength="300" ng-model="ilc.locationFormDetails.description" rows="4" type="input"
                          name="locationDescription" class="description"
                          placeholder="Beschreibe die Location" required></textarea>
                </li>
                <li ng-class="{'error' : (ilc.error) && ilc.form.locationTags.$error.required}"
                    class="item item-input tag-input fix-item-min-height">
                    <input placeholder="Tags" type="text" ng-model="ilc.locationFormDetails.tags" ng-change="ilc.strip(ilc.locationFormDetails.tags)">
                </li>
            </div>
            <div ng-if="!authenticated" class="no-register">
                <div class="not-auth-container">
                    <div class="image-container-full">
                         <img class="lorenz" ng-src="images/svg/lorenz_frontansicht.svg">
                    </div>
                    <p class="message">Melde dich an und tagge deine Lieblingslocations.</p>

                </div>
            </div>
        </ion-content>
        <button ng-if="authenticated"
                class="button-bottom button button-insert-location gps-button bottom button-full button-bottom fixed-button-bottom hide-on-keyboard-open"
                type="submit"
                ng-click="ilc.saveLocation()">
            {{!ilc.edit ? 'LOCATION ERSTELLEN' : 'LOCATION AKTUALISIEREN'}}
        </button>
    </form>
</ion-view>
