<ion-view view-title="Locate" class="insert-location" ng-controller="InsertLocationCtrl as ilc">
    <ion-nav-buttons side="left ">
        <i class="icon ion-ios-arrow-back home-back-button" ui-sref="tab.welcome"></i>
    </ion-nav-buttons>
    <ion-content>

        <div class="location-image">
            <img ng-if="!ilc.headerImagePath" class="placeholder-image" src="images/header-image-placeholder.png">
            <img ng-if="ilc.headerImagePath" class="placeholder-image" ng-src="{{ilc.webPath}}{{ilc.headerImagePath}}">

            <a class="choose-image" ng-click="ilc.showPictureActions()">
                <img class="image" src="images/icons/camera.png">
            </a>
        </div>
        <!--<div>-->
            <!--<button ng-click="lc.getPhoto()"-->
                    <!--class="button button-full background-green bottom">-->
                <!--Mach ein Foto!-->
            <!--</button>-->
            <!--<img class="tmpImageWidth" ng-src="{{lc.imageURI}}">-->
            <!--<button ng-click="lc.getCurrentPosition()"-->
                    <!--class="button button-full background-green bottom">-->
                <!--GPS Position-->
            <!--</button>-->
<!---->
            <!--<button ng-click="lc.showPictureActions()"-->
                    <!--class="button button-full background-green bottom">-->
                <!--actions-->
            <!--</button>-->
            <!--Latitude: {{lc.lat}}-->
            <!--Longitude: {{lc.long}}-->
        <!--</div>-->
    </ion-content>
</ion-view>
