node_modules/
temp/
npm-debug.log
.DS_Store
.idea
bower_components/
platforms
typings/
env.json
/www/
resources/ios
www-develop/lib/components/
.tmp
.sass-cache
app/bower_components
platforms/ios
platforms/android
*.zip
.cordova
plugins
hooks/*/
resources/android/
resources/ios/

