node_modules/
temp/
npm-debug.log
.DS_Store
.idea
bower_components/
platforms
typings/
www/
env.json
resources/ios
www-develop/lib/components/
.tmp
.sass-cache
app/bower_components
platforms/ios
platforms/android
*.zip

.cordova
plugins/com.ionic.keyboard/
plugins/cordova-plugin-geolocation/
plugins/cordova-plugin-whitelist/
plugins/org.apache.cordova.file-transfer/
plugins/org.apache.cordova.file/
plugins/org.apache.cordova.camera/
