<div class="moodal" ng-controller="LoginCtrl as lc">
    <div ng-if="!lc.forgotPassword" class="normallogin">
        <div class="btn-grp-white">
            <a class="fb-login" >Mit Facebook anmelden</a>
            <hr>
            <a class="gp-login" ng-click="lc.registerGoogle()">Mit Google anmelden</a>
            <hr>
        </div>
        <div class="or-label">
            <p>oder</p>
        </div>
        <form name="loginform">
            <input class="user-input" required ng-model="lc.mail" type="email" placeholder="E-Mail" name="inputMail">
            <input class="user-input" required ng-model="lc.password" type="password" placeholder="Passwort"
                   name="inputPassword">

            <div ng-class="{open: lc.errormsg}" class="msg error-msg">{{lc.errormsg}}</div>
            <div ng-class="{open: lc.successmsg}" class="msg success-msg">{{lc.successmsg}}</div>

            <input ng-click="lc.login(loginform)" class="submit button" value="Login" type="submit">

        </form>
        <a ng-click="lc.triggerforgotPassword()" class="password-forgotten">Passwort vergessen?</a>

    </div>
    <div ng-if="lc.forgotPassword">
        <form name="forgetform">
            <input required class="user-input" ng-model="hc.mail" type="email" placeholder="E-Mail" name="inputMail">

            <div ng-class="{open: lc.errormsg}" class="msg error-msg">{{lc.errormsg}}</div>
            <div ng-class="{open: lc.successmsg}" class="msg success-msg">{{lc.successmsg}}</div>
            <input ng-click="lc.sendNewPassword(lc.mail, forgetform)" class="pointer login submit button"
                   value="Sende mir ein Passwort"
                   type="submit">
        </form>
    </div>

    <input ng-click="lc.closeLoginModal()" class="backbutton button" value="Abbrechen" type="submit">


</div>
