<ion-view view-title="Stadt" ng-controller="CityCtrl as cc">
    <ion-content class="background-color-grey city">
        <ul class="list">
            <!-- display only of more then 8 cities available -->
            <label class="item item-input" ng-if="cc.cities.length>8">
                <i class="icon ion-search placeholder-icon"></i>
                <!--call update cities if anyone use 'back' -> no static data anymore-->
                <input class="city" type="search" placeholder="Wohin?" ng-change-options='{ debounce: 1000 }'
                       ng-model="cc.city"/>
            </label>
            <!--starts with filter -> if empty show all-->
            <li class="item" ng-repeat="city in cc.cities | startsWith: cc.city"
                ng-click="cc.setCity(city)">{{city.title}}<i class="float-right icon ion-plus-circled icon-accessory"></i>
            </li>

        </ul>
    </ion-content>
</ion-view>
