<ion-view class="welcome pageWithButton" view-title="Suche" ng-controller="SearchCtrl as sc">
    <ion-nav-buttons side="left ">
        <i class="icon ion-ios-arrow-back home-back-button" ui-sref="tab.welcome"></i>
    </ion-nav-buttons>
    <ion-content class="background-color-grey">
        <div>
            <ul class="list">
                <li class="item item-icon-right" ui-sref="tab.search-city">
                    {{sc.city.title || "Wo willst du hin?"}}&nbsp;
                    <i class="icon ion-chevron-right icon-accessory"></i>
                </li>
                <label class="item item-input">
                    <span class="input-label">Zeitraum</span>
                    <input class="text-right" ng-model="sc.start_date" type="text" placeholder="Von"
                           onfocus="(this.type='date')">
                </label>
                <label class="item item-input">
                    <input class="text-right" ng-model="sc.end_date" type="text" placeholder="Bis"
                           onfocus="(this.type='date')">
                </label>
                <li class="item">
                    Tage
                    <div class="select-elements">
                        <div class="circle" ng-repeat="day in sc.availableDays"
                             ng-click="sc.selectedDays=day.value"
                             ng-class="{'circle-selected': sc.selectedDays == day.value}">{{day.title}}
                        </div>
                    </div>
                </li>
                <li class="item">
                    Personen
                    <div class="select-elements">
                        <div class="circle" ng-repeat="person in sc.availablePersons"
                             ng-click="sc.selectedPersons=person.value"
                             ng-class="{'circle-selected': sc.selectedPersons == person.value}">{{person.title}}
                        </div>
                    </div>
                </li>
                <li class="item item-toggle">
                    Übernachtung
                    <label class="toggle toggle-dark toggle-assertive"
                           ng-click="sc.accommodation = ! sc.accommodation">
                        <input type="checkbox">

                        <div class="track">
                            <div class="handle"></div>
                        </div>
                    </label>
                </li>
                <li class="item item-icon-right" ui-sref="tab.search-moods">
                    <span ng-if="!sc.moodAvailable">Wie soll es sein?</span>
                    <i class="icon ion-chevron-right icon-accessory"></i>

                    <div ng-if="sc.moodAvailable">
                        <img class="result-mood" ng-src="./images/icons/{{sc.selectedMood.icon}}">
                        <label class="mood-title">{{sc.selectedMood.title}}</label>
                    </div>
                </li>
            </ul>
        </div>
    </ion-content>
    <button ng-click="sc.searchTrips()" ng-disabled="!sc.city.title"
            class="button-bottom button button-full background-green bottom">
        Los geht's
    </button>
</ion-view>
