<ion-view class="welcome pageWithBigButton background-color-cyan search" hide-back-button="true" view-title="Suche"
          ng-controller="SearchCtrl as sc">
    <ion-nav-buttons side="left ">
        <i class="icon ion-ios-arrow-back ion-chevron-left" ui-sref="tab.welcome"></i>
    </ion-nav-buttons>

    <ion-nav-buttons side="right">
        <div class="delete-icon search-delete"
             ng-if="sc.valueAvailable || sc.selectedDays || sc.selectedPersons ||sc.start_date || sc.end_date">
            <img class="delete-svg" ng-src="images/svg/loeschen.svg"
                 ng-click="sc.clearSearchValues()">
        </div>
    </ion-nav-buttons>

    <ion-content class="my-has-tabs gradient-blue">
        <!-- if more then 1 city available-->
        <li ng-if="!sc.onlyOneCity" class="item item-icon-right" ui-sref="tab.search-city">
            {{sc.city.title || "Wo willst du hin?"}}&nbsp;
            <i class="icon ion-chevron-right icon-accessory"></i>
        </li>
        <!-- if only 1 city available-->
        <li ng-if="sc.onlyOneCity" class="item item-icon-right">
            {{sc.city.title || "Wo willst du hin?"}}&nbsp;
        </li>
        <li class="item item-icon-right fix-item-height" ui-sref="tab.search-moods">
            <span ng-if="!sc.moodAvailable">Wie soll es sein?</span>
            <i class="icon ion-chevron-right icon-accessory"></i>

            <div ng-if="sc.moodAvailable">
                <div class="result-mood chosen-mood">
                    <img ng-src="./images/svg/moods/white/{{sc.selectedMood.icon_white}}">
                </div>
                <label class="mood-title">{{sc.selectedMood.title}}</label>
            </div>
        </li>
        <li class="item">
            Tage
            <div class="select-elements">
                <div class="circle" ng-repeat="day in sc.availableDays"
                     ng-click="sc.selectedDays=day.value"
                     ng-class="{'circle-selected': sc.selectedDays == day.value}">{{day.title}}
                </div>
            </div>
        </li>
        <li class="item">
            Personen
            <div class="select-elements">
                <div class="circle" ng-repeat="person in sc.availablePersons"
                     ng-click="sc.selectedPersons=person.value"
                     ng-class="{'circle-selected': sc.selectedPersons == person.value}">{{person.title}}
                </div>
            </div>
        </li>
        <li class="item item-input fix-item-height">
            <span class="input-label">Zeitraum von</span>
            <input type="date" class="date-input" ng-model="sc.start_date">
        </li>
        <li class="item item-input fix-item-height">
            <span class="input-label">bis</span>
            <input type="date" class="date-input" ng-model="sc.end_date">
        </li>
        <li class="item item-toggle">
            Übernachtung
            <label class="toggle toggle-dark toggle-assertive"
                   ng-click="sc.accommodation = ! sc.accommodation">
                <input type="checkbox">

                <div class="track">
                    <div class="handle"></div>
                </div>
            </label>
        </li>
        </ul>
    </ion-content>
    <button ng-click="sc.searchTrips()" ng-disabled="!sc.city.title"
            class="button-bottom button button-full background-green bottom search-button">
        LOS GEHT'S
    </button>
</ion-view>
