<ion-view view-title="Suchergebnisse" ng-controller="TripOverviewCtrl as toc">
    <ion-content class="background-color-grey">
        <ul class="list">
            <div ng-repeat="result in toc.results">
                <li ng-click="toc.showTripDetail(result._id, result.userid)">
                    <img class="tmpImageWidth" src="http://placehold.it/{{toc.witdh}}x{{toc.witdh}}">
                    <ul>
                        <li class="item">
                            <div>{{result.title}}</div>
                            <label>von </label>
                            <label class="text-color-red">{{result.username || 'anonym'}}</label>

                        </li>
                        <li class="item">
                            <resultdate class="text-color-red" date="result.start_date"></resultdate>
                            bis
                            <resultdate class="text-color-red" date="result.end_date"></resultdate>
                            </br>
                            <label>
                                Dauer:
                                <label class="text-color-red">{{result.days}} Tage</label>
                            </label>
                        </li>
                        <li class="item">
                            <div ng-repeat="mood in result.moods">
                                <div ng-repeat="availableMood in toc.moods |filter:mood">
                                    <img class="result-mood" src="./images/icons/{{availableMood.icon}}">
                                </div>
                            </div>
                        </li>
                    </ul>
                </li>
            </div>
        </ul>
    </ion-content>
</ion-view>
