<!--cache view false needed for slider -->
<ion-view class="trip pageWithButton" cache-view="false" view-title="{{tc.trip.title}}" ng-controller="TripCtrl as tc">
    <ion-content>
        <ul>
            <ion-slide-box class=" parallax-card" on-slide-changed="slideHasChanged($index)">
                <ion-slide ng-repeat="location in tc.trip.locations">
                    <img class="tmpImageWidth" ng-src="{{tc.webPath}}{{location.thumbnail}}">
                    <img class="user-picture" ui-sref="tab.search-user({userId:tc.trip.userid})"
                         ng-src="{{tc.webPath}}{{tc.user.picture.picture}}">
                </ion-slide>
            </ion-slide-box>

            <li class="item first-element">
                <label>von </label>
                <label class="text-bold">{{tc.user.name || 'anonym'}}</label>

            </li>

            <li class="item">
                <label>{{tc.trip.description}}</label>
            </li>
            <li class="item">
                <label>von</label>
                <label class="text-bold">{{tc.trip.start_date}}</label>
                <label>bis</label>
                <label class="text-bold">{{tc.trip.end_date}}</label>
            </li>
            <li class="item">
                <label>
                    <label ng-if="tc.trip.days" class="text-bold">{{tc.trip.days}} </label>
                    <label>{{tc.trip.days === 1 ? 'Tag' : 'Tage'}}</label>
                    <label ng-if="tc.trip.days && tc.trip.persons" class="text-bold">|</label>
                    <label class="text-bold">{{tc.trip.days}} </label>
                    <label ng-if="tc.trip.persons">{{tc.trip.persons === 1 ? 'Person' : 'Personen'}}</label>
                </label>
            </li>
            <!--  ui-sref="tab.search-locations"-->
            <li class="item item-icon-right" ng-if="tc.trip.locations">
                <label class="text-bold">{{tc.numberOfElelementsIn(tc.trip.locations)}}</label>
                <label ng-if="tc.trip.locations">
                    {{tc.numberOfElelementsIn(tc.trip.locations) === 1 ? 'Location' : 'Locations'}}
                </label>
                <i class="icon ion-chevron-right icon-accessory"></i>
            </li>
            <li class="item mood-container">
                <div ng-repeat="mood in tc.trip.moods">
                    <div ng-repeat="availableMood in tc.moods |filter:mood">
                        <img class="result-mood" ng-src="./images/icons/{{availableMood.icon}}">
                        <label class="mood-title">{{availableMood.title}}</label>
                    </div>
                </div>
            </li>
            <li>
                <div ng-hide="tc.trip.accommodation == false">
                    <h5 class="text-bold">Unterkunft</h5>

                    <div class="accommodation-equipment">
                        <acc-equ-chooser accommodation-equipment-selectable="false"
                                         accommodation-equipment="tc.trip.accommodation_equipment"></acc-equ-chooser>
                        <label>{{tc.trip.accommodation.title}}</label>
                    </div>
                </div>
            </li>
        </ul>
    </ion-content>
    <button ng-click="tc.openConversationModal()"
            class="button-bottom button button-full background-green bottom">
        Anschreiben
    </button>
</ion-view>
