<!--cache view false needed for slider -->
<ion-view class="trip" ng-class="tc.trip.userid !== userID ? 'pageWithButton' : ''" cache-view="false"
          view-title="{{tc.trip.title}}" ng-controller="TripCtrl as tc">
    <ion-content>
        <ul>
            <ion-slide-box ng-if="tc.trip.locations && tc.numberOfElelementsIn(tc.trip.locations) !== 1"
                           class=" parallax-card" on-slide-changed="slideHasChanged($index)">
                <ion-slide ng-repeat="location in tc.trip.locations">
                    <div class="image-container"
                         style="background-image: url({{tc.webPath}}{{location.picture + '?size=mobile'}});background-size: cover">
                    </div>

                </ion-slide>
            </ion-slide-box>
            <div ng-if="tc.trip.locations && tc.numberOfElelementsIn(tc.trip.locations) === 1">
                <div ng-repeat="location in tc.trip.locations">
                    <div class="image-container"
                         style="background-image: url({{tc.webPath}}{{location.picture + '?size=mobile'}});background-size: cover">
                    </div>
                </div>
            </div>
            <img class="user-picture" ui-sref="tab.search-user({userId:tc.trip.userid})"
                 ng-src="{{tc.user.picture}}">
            <li class="item first-element">
                <label>von </label>
                <label class="text-bold"> {{tc.user.name || 'anonym'}}</label>
            </li>

            <li class="item description" ng-if="tc.trip.description">
                <label>{{tc.trip.description}}</label>
            </li>
            <li class="item" ng-if="tc.trip.start_date && tc.trip.end_date">
                <label>von</label>
                <label class="text-bold">{{tc.trip.start_date}}</label>
                <label>bis</label>
                <label class="text-bold">{{tc.trip.end_date}}</label>
            </li>
            <li class="item" ng-if="tc.trip.days || tc.trip.persons">
                <label>
                    <label ng-if="tc.trip.days" class="text-bold">{{tc.trip.days}} </label>
                    <label ng-if="tc.trip.days"> {{tc.trip.days === 1 ? 'Tag' : 'Tage'}}</label>
                    <label ng-if="tc.trip.days && tc.trip.persons" class="text-bold">|</label>
                    <label ng-if="tc.trip.persons" class="text-bold">{{tc.trip.persons}} </label>
                    <label ng-if="tc.trip.persons">{{tc.trip.persons === 1 ? 'Person' : 'Personen'}}</label>
                </label>
            </li>
            <li class="item item-icon-right" ng-if="tc.trip.locations"
                ui-sref="tab.search-result-locations({locationSourceId:tc.trip._id})">
                <label class="text-bold">{{tc.numberOfElelementsIn(tc.trip.locations)}}</label>
                <label ng-if="tc.trip.locations">
                    {{tc.numberOfElelementsIn(tc.trip.locations) === 1 ? 'Location' : 'Locations'}}
                </label>
                <i class="icon ion-chevron-right icon-accessory"></i>
            </li>
            <li class="item mood-container" ng-if="tc.trip.moods">
                <div ng-repeat="mood in tc.trip.moods">
                    <div ng-repeat="availableMood in tc.moods |filter:mood">
                        <img class="result-mood" ng-src="./images/icons/{{availableMood.icon}}">
                        <label class="mood-title">{{availableMood.title}}</label>
                    </div>
                </div>
            </li>
            <li ng-if="tc.trip.accommodation">
                <div ng-hide="tc.trip.accommodation == false">
                    <h5 class="text-bold">Unterkunft</h5>

                    <div class="accommodation-equipment">
                        <acc-equ-chooser accommodation-equipment-selectable="false"
                                         accommodation-equipment="tc.trip.accommodation_equipment"></acc-equ-chooser>
                        <label>{{tc.trip.accommodation.title}}</label>
                    </div>
                </div>
            </li>
        </ul>
    </ion-content>
    <button ng-if="!(userID === tc.trip.userid)" ng-if="!(result.userid === userID)"
            ng-click="tc.startConversation(tc.user, tc.trip)"
            class="button-bottom button button-full background-green bottom">
        Teilnehmen
    </button>
</ion-view>
