<ion-view view-title="Suchergebnisse" ng-controller="TripOverviewCtrl as toc">
    <ion-content class="background-color-grey">
        <ul class="list">
            <div ng-repeat="result in toc.results">
                <li ng-click="toc.showTripDetail(result._id, result.userid)">
                    <!-- for each pictures-->
                    <ion-slide-box on-slide-changed="slideHasChanged($index)">
                        <ion-slide ng-repeat="location in result.locations">
                            <img class="tmpImageWidth" ng-src="{{toc.webPath}}{{location.thumbnail}}">
                        </ion-slide>
                    </ion-slide-box>
                    <ul>
                        <li class="item">
                            <div class="text-bold">{{result.title}}</div>
                            <label>von </label>
                            <label class="text-bold">{{result.username || 'anonym'}}</label>

                        </li>
                        <li class="item" ng-if="result.start_date && result.end_date">
                            <label class="text-bold">{{toc.formatDate(result.start_date)}}</label>
                            <label>bis</label>
                            <label class="text-bold">{{toc.formatDate(result.end_date)}}</label>
                        </li>
                        <li class="item">
                            <label>
                                <label ng-if="result.days" class="text-bold">{{result.days}}</label>
                                <label>{{result.days === 1 ? 'Tag' : 'Tage'}}</label>
                                <label ng-if="result.days && result.persons" class="text-bold">|</label>
                                <label class="text-bold">{{result.persons}} </label>
                                <label ng-if="result.persons">{{result.persons === 1 ? 'Person' : 'Personen'}}</label>
                                <label ng-if="result.persons || result.locations" class="text-bold">|</label>
                                <label class="text-bold">{{toc.numberOfElelementsIn(result.locations)}}</label>
                                <label ng-if="result.locations">
                                    {{toc.numberOfElelementsIn(result.locations) === 1 ? 'Location' : 'Locations'}}
                                </label>
                            </label>
                        </li>
                        <li class="item mood-container">
                            <div ng-repeat="mood in result.moods">
                                <div ng-repeat="availableMood in toc.moods |filter:mood">
                                    <img class="result-mood" ng-src="./images/icons/{{availableMood.icon}}">
                                    <label class="mood-title">{{availableMood.title}}</label>
                                </div>
                            </div>
                        </li>
                        <li class="item trip-options">
                            <label class="user">
                                <label class="dekotext">erstellt von </label>
                                <label class="name">{{result.username || 'anonym'}}</label>
                            </label>
                        </li>
                        <li class="item">
                            &nbsp;
                        </li>

                    </ul>
                </li>
            </div>
        </ul>
    </ion-content>
</ion-view>
