<!--cache view false needed for slider -->
<ion-view class="trip" cache-view="false" view-title="{{tc.trip.title}}" ng-controller="TripCtrl as tc">
    <ion-content>
        <ul>
            <ion-slide-box on-slide-changed="slideHasChanged($index)">
                <ion-slide  ng-repeat="location in tc.trip.locations">
                    <img class="tmpImageWidth" src="http://locator-app.com{{location.thumbnail}}">
                    <img class="user-picture"  ui-sref="tab.search-user({userId:tc.trip.userid})" src="http://locator-app.com/{{tc.user.picture.picture}}">
                </ion-slide>
            </ion-slide-box>

            <li class="item first-element">
                <label>von </label>
                <label class="text-color-red">{{tc.trip.username || 'anonym'}}</label>

            </li>
            <li class="item">
                <resultdate class="text-color-red" date="tc.trip.start_date"></resultdate>
                bis
                <resultdate class="text-color-red" date="tc.trip.end_date"></resultdate>
                </br>
                <label>
                    Dauer:
                    <label class="text-color-red">{{tc.trip.days}} Tage</label>
                </label>
            </li>
            <li class="item">
                <div ng-repeat="mood in tc.trip.moods">
                    <div ng-repeat="availableMood in tc.moods |filter:mood">
                        <img class="moods-style" src="./images/icons/{{availableMood.icon}}">
                    </div>
                </div>
            </li>
            <li class="list-text">
                <h5 class="text-color-red">Beschreibung</h5>

                <p>{{tc.trip.description}}</p>
            </li>
            <li class="list-text">
                <h5 class="text-color-red">Für was braucht man Geld?</h5>

                <p>{{tc.trip.description_money}}</p>
            </li>
            <li>
                <div ng-hide="tc.trip.accommodation == false">
                    <h5 class="text-color-red">Unterkunft</h5>

                    <div class="accommodation-equipment">
                        <acc-equ-chooser accommodation-equipment-selectable="false"
                                         accommodation-equipment="tc.trip.accommodation_equipment"></acc-equ-chooser>
                    </div>
                </div>
            </li>
        </ul>
        <div>
            <button ui-sref="tab.chat"
                    class="button button-full background-green bottom">
                Anschreiben
            </button>
        </div>
    </ion-content>
</ion-view>
