<ion-view view-title="Suchergebnisse" ng-controller="TripOverviewCtrl as toc">
    <ion-content class="background-color-grey">
        <ul class="list">
            <div ng-repeat="result in toc.results">
                <li>
                    <div>
                    <div class="item trip-title-in-results">{{result.title}}</div>

                    <div ng-click="toc.showTripDetail(result._id, result.userid)">
                        <!-- for each pictures-->
                        <ion-slide-box ng-if="toc.numberOfElelementsIn(result.locations) !== 1"
                                       on-slide-changed="slideHasChanged($index)">
                            <ion-slide ng-repeat="location in result.locations">
                                <div class="trip-text-location"
                                     ui-sref="tab.search-result-locations({locationSourceId:result._id})">
                                    Location
                                    <img class="image-all-locations" src="/images/icons/alle_locations_weiss.png">
                                </div>
                                <div class="image-container"
                                     style="background-image: url({{toc.webPath}}{{location.picture + '?size=mobile'}});background-size: cover">
                                </div>
                            </ion-slide>
                        </ion-slide-box>
                        <div ng-if="toc.numberOfElelementsIn(result.locations) === 1">
                            <div ng-repeat="location in result.locations">
                                <div class="trip-text-location"
                                     ui-sref="tab.search-result-locations({locationSourceId:result._id})">
                                    Location
                                    <img class="image-all-locations" src="/images/icons/alle_locations_weiss.png">
                                </div>
                                <div class="image-container"
                                     style="background-image: url({{toc.webPath}}{{location.picture + '?size=mobile'}});background-size: cover">
                                </div>
                            </div>
                        </div>
                    </div>
                    <ul>
                        <div ng-click="toc.showTripDetail(result._id, result.userid)">
                            <li class="item">
                                <div class="text-bold">{{result.title}}</div>
                                <label>von </label>
                                <label class="text-bold">{{result.username || 'anonym'}}</label>
                            </li>
                            <li class="item" ng-if="result.start_date && result.end_date">
                                <label class="text-bold">{{toc.formatDate(result.start_date)}}</label>
                                <label>bis</label>
                                <label class="text-bold">{{toc.formatDate(result.end_date)}}</label>
                            </li>
                            <li class="item">
                                <label>
                                    <label ng-if="result.days" class="text-bold">{{result.days}}</label>
                                    <label>{{result.days === 1 ? 'Tag' : 'Tage'}}</label>
                                    <label ng-if="result.days && result.persons" class="text-bold">|</label>
                                    <label class="text-bold">{{result.persons}} </label>
                                    <label ng-if="result.persons">{{result.persons === 1 ? 'Person' :
                                        'Personen'}}</label>
                                    <label ng-if="result.persons || result.locations" class="text-bold">|</label>
                                    <label class="text-bold">{{toc.numberOfElelementsIn(result.locations)}}</label>
                                    <label ng-if="result.locations">
                                        {{toc.numberOfElelementsIn(result.locations) === 1 ? 'Location' : 'Locations'}}
                                    </label>
                                </label>
                            </li>
                            <li class="item mood-container" ng-if="result.moods">
                                <div ng-repeat="mood in result.moods">
                                    <div ng-repeat="availableMood in toc.moods |filter:mood">
                                        <img class="result-mood" ng-src="./images/icons/{{availableMood.icon}}">
                                        <label class="mood-title">{{availableMood.title}}</label>
                                    </div>
                                </div>
                            </li>
                            <li class="item" ng-if="result.accommodation">
                                <label>mit Übernachtung</label>
                            </li>
                        </div>
                        <li class="item trip-options">
                            <img class="icon icon-small" ng-src="./images/icons/ansehen_weiss.png"
                                 ng-click="toc.showTripDetail(result._id, result.userid)">
                            <img class="icon" ng-src="./images/icons/alle_locations_weiss.png"
                                 ui-sref="tab.search-result-locations({locationSourceId:result._id})">
                            <img class="icon" ng-src="./images/icons/messenger_weiss.png">

                            <label class="user">
                                <label class="dekotext">erstellt von </label>
                                <label class="name">{{result.username || 'anonym'}}</label>
                            </label>
                        </li>
                    </ul>
                </li>
            </div>
        </ul>
    </ion-content>
</ion-view>
