<ion-view view-title="Trip einstellen" hide-back-button="true"
          class="insert-trip pageWithBigButton background-color-coral"
          ng-controller="InsertTripCtrl as itc">
    <ion-nav-buttons side="left ">
        <i class="icon ion-ios-arrow-back ion-chevron-left" ui-sref="tab.welcome"></i>
    </ion-nav-buttons>
    <ion-content class="gradient-red" ng-class="!authenticated ? 'not-auth-background' : ''">
        <div ng-if="authenticated">
            <ul class="list">
                <!-- if only 1 city available-->
                <li ng-if="itc.onlyOneCity" class="item item-icon-right">
                    {{itc.city.title || "Wo willst du hin?"}}&nbsp;
                </li>
                <!-- if more then 1 city available-->
                <li ng-if="!itc.onlyOneCity" class="item item-icon-right" ui-sref="tab.offer-city">
                    {{itc.city.title || "Wohin geht der Trip?"}}&nbsp;
                    <i class="icon ion-chevron-right icon-accessory"></i>
                </li>
                <li class="item item-icon-right" ui-sref="tab.offer-moods">
                    <span ng-if="!itc.moodAvailable">Wie fühlt sich der Trip an?</span>
                    <i class="icon ion-chevron-right icon-accessory"></i>

                    <div ng-if="itc.moodAvailable">
                        <img class="result-mood" ng-src="./images/icons/white/{{itc.selectedMood.icon_white}}">
                        <label class="mood-title">{{itc.selectedMood.title}}</label>
                    </div>
                </li>
                <li class="item">
                    Tage
                    <div class="select-elements">
                        <div class="circle" ng-repeat="day in itc.availableDays"
                             ng-click="itc.selectedDays=day.value"
                             ng-class="{'circle-selected': itc.selectedDays == day.value}">{{day.title}}
                        </div>
                    </div>
                </li>
                <li class="item">
                    Personen
                    <div class="select-elements">
                        <div class="circle" ng-repeat="person in itc.availablePersons"
                             ng-click="itc.selectedPersons=person.value"
                             ng-class="{'circle-selected': itc.selectedPersons == person.value}">{{person.title}}
                        </div>
                    </div>
                </li>
                <li class="item item-input">
                    <span class="input-label">Zeitraum von</span>
                    <input type="date" class="date-input" ng-model="itc.start_date">
                </li>
                <li class="item item-input">
                    <span class="input-label">bis</span>
                    <input type="date" class="date-input" ng-model="itc.end_date">
                </li>
                <li class="item item-toggle">
                    Übernachtung
                    <label class="toggle toggle-dark toggle-assertive"
                           ng-click="itc.triggerAccomodation()">
                        <input type="checkbox">

                        <div class="track">
                            <div class="handle"></div>
                        </div>
                    </label>
                </li>
                <li ng-if="itc.accommodation" class="item item-icon-right" ui-sref="tab.offer-equipment">
                    Angaben zur Unterkunft
                    <i class="icon ion-chevron-right icon-accessory"></i>
                </li>
                </li>
            </ul>
        </div>
        <div ng-if="!authenticated" class="no-register">
            <div class="not-auth-container">
                <div class="image-container-full"
                     style="background-image: url('images/svg/lorenz.svg')">
                </div>
                <span class="message">Melde dich an und zeige anderen, was du an deiner Stadt liebst.</span>
                <span class="message">Oder registriere dich und werde ein Teil von Locator</span>
            </div>
        </div>
    </ion-content>
    <button ng-if="authenticated" ng-click="itc.selectLocations()"
            ng-disabled="!(itc.city.title && itc.moodAvailable && (itc.selectedDays > 0))"
            class="button-bottom button button-full background-coral bottom item-icon-right insert-trip-button">
        LOCATION'S HINZUFÜGEN
        <i class="icon ion-chevron-right icon-accessory"></i>
    </button>
</ion-view>
