<ion-view view-title="Locations" class=" insert-trip" ng-controller="SelectLocationCtrl as slc">
    <ion-content class="background-color-grey locations">
        <div class="header">
            <button class="button button-positive">
                button-positive
            </button>
            <button class="button button-positive">
                button-positive
            </button>
        </div>
        <div ng-if="slc.myLocations">
            <ul class="list">
                <li class="item item-icon-right" ng-repeat="location in slc.myLocationsByCity">
                    <div class="image-container">
                        <!-- images -->
                        <img ng-if="location.images.picture" class="picture"
                             ng-src="{{slc.webPath}}{{location.images.thumbnail}}">
                        <img ng-if="!location.images.picture" class="googlemap"
                             ng-src="{{location.images.googlemap}}&size=200x200">
                    </div>

                    <!-- title, tags and description-->
                    <label class="title">{{location.title}}</label>

                    <div class="location-tags tags">
                        <span ng-repeat="tag in location.tags | limitTo: 3" class="tag">{{tag}}</span>
                    </div>
                    <p class="description">{{location.description}}</p>
                    <i class="icon ion-chevron-right icon-accessory"></i>
                </li>
            </ul>
        </div>
        <div ng-if="!slc.myLocations">
        </div>

    </ion-content>
</ion-view>
