<ion-view view-title="Locations hinzufügen" class=" insert-trip pageWithButton"
          ng-controller="SelectLocationCtrl as slc">
    <ion-content class="background-color-grey locations">
        <div class="header">
            <div class="center">
                <button class="button button-all" ng-click="slc.myLocations=false"
                        ng-class="!slc.myLocations ? 'selected' : ''">
                    Alle
                </button>
                <button class="button button-my" ng-click="slc.myLocations=true"
                        ng-class="slc.myLocations ? 'selected' : ''">
                    Meine
                </button>
            </div>
        </div>
        <div ng-if="slc.myLocations">
            <ul class="list">
                <li class="item item-icon-right" ng-repeat="location in slc.myLocationsByCity"
                    ng-class="location.selected ? 'selected-location' : ''">
                    <div class="image-container" ui-sref='tab.offer-locations-detail({ locationId: location._id})'>
                        <!-- images -->
                        <div ng-if="location.images.picture" class="image-container-thumb"
                             style="background-image: url({{slc.webPath}}{{location.images.picture + '?size=mobileThumb'}});background-size: cover">
                        </div>
                        <div ng-if="!location.images.picture" class="image-container-thumb"
                             style="background-image: url({{location.images.googlemap + '&size=80x80'}});background-size: cover">
                        </div>
                    </div>
                    <div ng-click="slc.toogleSelect(location)">
                        <!-- title, tags and description-->
                        <label class="title">{{location.title}}</label>
                        <br>

                        <div class="description">{{location.description}}</div>
                        <div class="location-tags tags">
                            <span ng-repeat="tag in location.tags | limitTo: 3" class="tag">{{tag}}</span>
                        </div>
                        <i ng-if="!location.selected" class="icon ion-plus-circled icon-accessory"></i>
                        <i ng-if="location.selected" class="icon ion-minus-circled icon-accessory"></i>
                    </div>
                </li>
            </ul>
        </div>
        <div ng-if="!slc.myLocations">
            <ul class="list">
                <li class="item item-icon-right" ng-repeat="location in slc.locationsByCity"
                    ng-class="location.selected ? 'selected-location' : ''">
                    <div class="image-container" ui-sref='tab.offer-locations-detail({ locationId: location._id})'>
                        <!-- images -->
                        <div ng-if="location.images.picture" class="image-container-thumb"
                             style="background-image: url({{slc.webPath}}{{location.images.picture + '?size=mobileThumb'}});background-size: cover">
                        </div>
                        <div ng-if="!location.images.picture" class="image-container-thumb"
                             style="background-image: url({{location.images.googlemap + '&size=80x80'}});background-size: cover">
                        </div>
                    </div>
                    <div ng-click="slc.toogleSelect(location)">
                        <!-- title, tags and description-->
                        <label class="title">{{location.title}}</label>
                        <br>

                        <div class="description">{{location.description}}</div>
                        <div class="location-tags tags">
                            <span ng-repeat="tag in location.tags | limitTo: 3" class="tag">{{tag}}</span>
                        </div>

                        <i ng-if="!location.selected" class="icon ion-plus-circled icon-accessory"></i>
                        <i ng-if="location.selected" class="icon ion-minus-circled icon-accessory"></i>
                    </div>
                </li>
            </ul>
        </div>
    </ion-content>
    <button ng-if="authenticated" ng-click="slc.tripPreview()" ng-disabled="slc.selectedLocations < 1 ? true : false"
            class="button-bottom button button-full background-coral bottom item-icon-right">
        Trip Vorschau
        <i class="icon ion-chevron-right icon-accessory"></i>
    </button>
</ion-view>
