<ion-view view-title="Locations" class=" insert-trip" ng-controller="SelectLocationCtrl as slc">
    <ion-content class="background-color-grey locations">
        <div class="header">
            <div class="center">
                <button class="button button-all" ng-click="slc.myLocations=false"
                        ng-class="!slc.myLocations ? 'selected' : ''">
                    Alle
                </button>
                <button class="button button-my" ng-click="slc.myLocations=true"
                        ng-class="slc.myLocations ? 'selected' : ''">
                    Meine
                </button>
            </div>
        </div>
        <div ng-if="slc.myLocations">
            <ul class="list">
                <li class="item item-icon-right" ng-repeat="location in slc.myLocationsByCity"
                    ng-class="location.selected ? 'selected-location' : ''">
                    <div class="image-container">
                        <!-- images -->
                        <img ng-if="location.images.picture" class="picture"
                             ng-src="{{slc.webPath}}{{location.images.thumbnail}}">
                        <img ng-if="!location.images.picture" class="googlemap"
                             ng-src="{{location.images.googlemap}}&size=200x200">
                    </div>
                    <div ng-click="slc.toogleSelect(location)">
                        <!-- title, tags and description-->
                        <label class="title">{{location.title}}</label>

                        <div class="location-tags tags">
                            <span ng-repeat="tag in location.tags | limitTo: 3" class="tag">{{tag}}</span>
                        </div>
                        <p class="description">{{location.description}}</p>
                        <i class="icon ion-plus-circled icon-accessory"></i>
                    </div>
                </li>
            </ul>
        </div>
        <div ng-if="!slc.myLocations">
            <ul class="list">
                <li class="item item-icon-right" ng-repeat="location in slc.locationsByCity"
                    ng-class="location.selected ? 'selected-location' : ''">
                    <div class="image-container">
                        <!-- images -->
                        <img ng-if="location.images.picture" class="picture"
                             ng-src="{{slc.webPath}}{{location.images.thumbnail}}">
                        <img ng-if="!location.images.picture" class="googlemap"
                             ng-src="{{location.images.googlemap}}&size=200x200">
                    </div>
                    <div ng-click="slc.toogleSelect(location)">
                        <!-- title, tags and description-->
                        <label class="title">{{location.title}}</label>

                        <div class="location-tags tags">
                            <span ng-repeat="tag in location.tags | limitTo: 3" class="tag">{{tag}}</span>
                        </div>
                        <p class="description">{{location.description}}</p>
                        <i class="icon ion-plus-circled icon-accessory"></i>
                    </div>
                </li>
            </ul>
        </div>

    </ion-content>
</ion-view>
