<div class="moodal" ng-controller="LoginCtrl as lc">
    <form name="loginform">
        <input class="user-input" required ng-model="lc.mail" type="email" placeholder="E-Mail" name="inputMail">
        <input class="user-input" required ng-model="lc.password" type="password" placeholder="Passwort"
               name="inputPassword">

        <div ng-class="{open: lc.errormsg}" class="msg error-msg">{{lc.errormsg}}</div>
        <div ng-class="{open: lc.successmsg}" class="msg success-msg">{{lc.successmsg}}</div>

        <input ng-click="lc.login(loginform)" class="submit button" value="Login" type="submit">

    </form>

    <a class="password-forgotten">Passwort vergessen?</a>
    <a class="register">Registrieren</a>
    <!--</div>-->

    <input ng-click="lc.closeLoginModal()" class="backbutton button" value="Abbrechen" type="submit">

</div>
