<ion-view view-title="Fertig" ng-controller="OptionCtrl as oc">
    <ion-content class="background-color-grey insert-trip">
        <ul class="list remove-margin-bottom">
            <div ng-if="oc.result.picture">
                    <div class="image-container-full"
                         style="background-image: url({{oc.path}}{{oc.result.picture}});background-size: cover">
                        <div class="success-overlay">
                            <h4 ng-if="!oc.isLocation">Dein Trip wurde hinzugefügt</h4>
                            <h4 ng-if="oc.isLocation">Deine Location wurde hinzugefügt</h4>
                        </div>
                    </div>
            </div>
        </ul>
        <li class="item item-icon-right item-option" ui-sref="tab.profile({userId: userID})">
            <img class="list-icon" ng-src="./images/svg/meine_locations_trips.svg">
            <label class="option-label">Zu deinen Trips/Locations</label>
            <i class="icon ion-chevron-right icon-accessory"></i>
        </li>

        <li ng-if="!oc.isLocation" class="item item-icon-right item-option" ng-click="oc.restartTrip()">
            <img class="list-icon" ng-src="./images/svg/create_trip.svg">
            <label class="option-label">Weiteren Trip erstellen</label>
            <i class="icon ion-chevron-right icon-accessory"></i>
        </li>
        <li ng-if="oc.isLocation" class="item item-icon-right item-option" ng-click="oc.restartLocation()">
            <img class="list-icon" ng-src="./images/svg/locate.svg">
            <label class="option-label">Weitere Location erstellen</label>
            <i class="icon ion-chevron-right icon-accessory"></i>
        </li>

        <li ng-if="!oc.isLocation" class="item item-icon-right item-option" ui-sref="tab.locate">
            <img class="list-icon" ng-src="./images/svg/locate.svg">
            <label class="option-label">Location erstellen</label>
            <i class="icon ion-chevron-right icon-accessory"></i>
        </li>
        <li ng-if="oc.isLocation" class="item item-icon-right item-option" ui-sref="tab.offer">
            <img class="list-icon" ng-src="./images/svg/insert_test.svg">
            <label class="option-label">Trip erstellen</label>
            <i class="icon ion-chevron-right icon-accessory"></i>
        </li>
    </ion-content>
</ion-view>
