<ion-view class="profile" view-title="Beschreibung" ng-controller="UserCtrl as uc">
    <ion-content class="background-color-grey">
        <div>
            <button class="button button-dark config-button" ng-if="uc.me && !uc.edit" ng-click="uc.editTrigger()">
                Bearbeiten
            </button>
            <button class="button  button-balanced save-button" ng-if="uc.me && uc.edit" ng-click="uc.updateProfile()">
                Speichern
            </button>
            <button class="button button-assertive abort-button" ng-if="uc.me && uc.edit" ng-click="uc.editTrigger()">
                Abbrechen
            </button>
        </div>
        <ul class="list" ng-if="!uc.edit">
            <li class="item">
                <img class="profile-image" ng-src="http://locator-app.com/{{uc.user.picture.picture}}">
                <span class="username">{{uc.user.name}} <span class="birthdate">({{uc.birthdate}})</span></span>
            </li>

            <li class="item">
                <h5 class="text-color-red">Geburtsdatum</h5>
                <resultdate date="uc.user.birthdate"></resultdate>

            </li>
            <li class="item">
                <h5 class="text-color-red">Wohnort</h5>
                <span class="residence">{{uc.user.residence}}</span>
            </li>
            <li class="item">
                <h5 class="text-color-red">Beschreibung</h5>
                <span class="description">{{uc.user.description}}</span>
            </li>
        </ul>

        <ul class="list edit" ng-if="uc.edit" ng-model-options="{ getterSetter: true }">
            <img class="profile-image" ng-src="http://locator-app.com/{{uc.user.picture.picture}}">
            <label class="text-color-red item item-input">
                <span class="title">Name</span>
                <input class="username" type="input" ng-model="uc.user.name"/>
            </label>
            <label class="item item-input">
                <span class="text-color-red title">Geburtsdatum</span>
                <input class="text-right" type="date" ng-model="uc.user.birthdate" value="{{uc.modifyBirthday}}">
            </label>
            <label class="item item-input">
                <span class="text-color-red">Wohnort</span>
                <input class="text-right" type="input" ng-model="uc.user.residence">
            </label>

            <label class="item item-input">
                <span class="text-color-red description">Beschreibung</span>
                <textarea rows="{{uc.descriptionRows}}" type="input" ng-model="uc.user.description"></textarea>
            </label>

        </ul>
        <div>
            <button ng-if="!uc.me" ng-click="uc.startConversation()"
                    class="button button-full background-green bottom">
                Anschreiben
            </button>
        </div>
    </ion-content>
</ion-view>
