<ion-view class="profile" view-title="Beschreibung" ng-controller="UserCtrl as uc">
    <ion-content class="background-color-grey">
        <div>
            <button class="button button-dark config-button" ng-if="uc.me && !uc.edit" ng-click="uc.editTrigger()">
                Bearbeiten
            </button>
            <button class="button  button-balanced save-button" ng-if="uc.me && uc.edit" ng-click="uc.updateProfile()">
                Speichern
            </button>
            <button class="button button-assertive abort-button" ng-if="uc.me && uc.edit" ng-click="uc.editTrigger()">
                Abbrechen
            </button>
        </div>
        <ul class="list" ng-if="!uc.edit">
            <li class="item">
                <img class="profile-image" ng-src="{{uc.path}}{{uc.user.picture.picture}}">
                <span class="username">{{uc.user.name}} <span class="birthdate">({{uc.birthdate}})</span></span>
            </li>

            <li class="item">
                <h5 class="text-color-red">Geburtsdatum</h5>
                <label>{{uc.user.birthdate}}</label>
            </li>
            <li class="item">
                <h5 class="text-color-red">Wohnort</h5>
                <span class="residence">{{uc.user.residence}}</span>
            </li>
            <li class="item item-text-wrap">
                <h5 class="text-color-red">Beschreibung</h5>
                <span class="description">{{uc.user.description}}</span>
            </li>
        </ul>

        <ul class="list edit" ng-if="uc.edit" ng-model-options="{ getterSetter: true }">
            <img class="profile-image" ng-src="{{uc.path}}{{uc.user.picture.picture}}" ng-click="uc.updatePicture()">
            <span class="image-description">Bild berühren um es zu ändern.</span>
            <li>
                <span class="title text-color-red">Name</span>
                <input class="item item-input background-color-edit" type="input" ng-model="uc.user.name"/>
            </li>
            <li>
                <span class="text-color-red title">Geburtsdatum</span>
                <input class="item item-input background-color-edit birthdate" type="date" ng-model="uc.user.birthdate"
                       value="{{uc.modifyBirthday}}">
            </li>
            <li>
                <span class="text-color-red title">Wohnort</span>
                <input class="item item-input background-color-edit" type="input" ng-model="uc.user.residence">
            </li>
            <li>
                <span class="text-color-red title description">Beschreibung</span>
                <textarea class="background-color-edit" rows="{{uc.descriptionRows}}" type="input"
                          ng-model="uc.user.description"></textarea>
            </li>

        </ul>
        <div>
            <button ng-if="!uc.me" ng-click="uc.startConversation()"
                    class="button button-full background-green bottom">
                Anschreiben
            </button>
        </div>
    </ion-content>
</ion-view>
