<ion-view view-title='<img src="./images/svg/logo_app_header.svg" class="logo"/>' class="welcome"
          ng-style="{height: window.innerHeight + 'px'}">
    <ion-content scroll="false" class="my-has-tabs">
        <button ui-sref="tab.search" class="button button-full background-green gradient-blue search height-3">
            <img class="tab-icon search-icon new-height"
                 ng-src="./images/svg/search_startscreen.svg">
            <div class="tab-title">Ich will wohin</div>
        </button>
        <button ui-sref="tab.offer" class="button button-full background-coral gradient-red insert height-3">
            <img class="tab-icon insert-icon new-height"
                 ng-src="./images/svg/insert_trip_startscreen.svg">
            <div class="tab-title">Ich biete was</div>
        </button>
        <button ui-sref="tab.locate" class="button button-full background-black gradient-black locate height-3">
            <img class="tab-icon locate-icon new-height"
                 ng-src="./images/svg/locate_startscreen.svg">
            <div class="tab-title">Locate</div>
        </button>
    </ion-content>
</ion-view>
