<ion-view  view-title="Locate"  ng-controller="LocateCtrl as lc">
  <ion-content>
      <div>
          <button ng-click="lc.getPhoto()"
                  class="button button-full background-green bottom">
              Mach ein Foto!
          </button>
          <img class="tmpImageWidth" src="{{lc.imageURI}}">
          <button ng-click="lc.getCurrentPosition()"
                  class="button button-full background-green bottom">
              GPS Position
          </button>
          Latitude: {{lc.lat}}
          Longitude: {{lc.long}}
      </div>
  </ion-content>
</ion-view>
