<ion-view view-title="{{navTitle}}" class="welcome" ng-controller="WelcomeCtrl as ws">
  <ion-content>
      <button  ui-sref="tab.search" class="button button-full background-green search height-3">
          <span>Ich will wohin <img class="search-icon" src="./images/icons/white/suche.png"></span>
      </button>
      <button  ui-sref="tab.offer" class="button button-full background-coral insert height-3">
          <span>Ich biete was <img class="insert-icon" src="./images/icons/white/biete.png"></span>
      </button>
      <button  ui-sref="tab.locate" class="button button-full background-black locate height-3">
          <span>Locate <img class="locate-icon" src="./images/icons/white/locate.png"></span>
      </button>
  </ion-content>
</ion-view>
