<ion-view view-title="{{navTitle}}" class="welcome" ng-controller="WelcomeCtrl as ws">
    <ion-content scroll="false">
        <button ui-sref="tab.search" class="button button-full background-green search height-3">
            <span class="tab-title">Ich will wohin</span><img class="tab-icon search-icon" src="./images/icons/white/suche.png">
        </button>
        <button ui-sref="tab.offer" class="button button-full background-coral insert height-3">
            <span class="tab-title">Ich biete was</span><img class="tab-icon insert-icon" src="./images/icons/white/biete.png">
        </button>
        <button ui-sref="tab.locate" class="button button-full background-black locate height-3">
            <span class="tab-title">Locate</span><img class="tab-icon locate-icon" src="./images/icons/white/locate.png">
        </button>
    </ion-content>
</ion-view>
