<ion-view view-title="Locate" ng-controller="LocateCtrl as lc">
    <ion-nav-buttons side="left ">
        <i class="icon ion-ios-arrow-back home-back-button" ui-sref="tab.welcome"></i>
    </ion-nav-buttons>
    <ion-content>
        <div>
            <button ng-click="lc.getPhoto()"
                    class="button button-full background-green bottom">
                Mach ein Foto!
            </button>
            <img class="tmpImageWidth" src="{{lc.imageURI}}">
            <button ng-click="lc.getCurrentPosition()"
                    class="button button-full background-green bottom">
                GPS Position
            </button>
            Latitude: {{lc.lat}}
            Longitude: {{lc.long}}
        </div>
    </ion-content>
</ion-view>
