<ion-view view-title="Suche" ng-controller="SearchCtrl as sc">
    <ion-content>
        <div>
            <ul class="list">
                <li>
                    <label class="item item-input">
                        <i class="icon ion-search placeholder-icon"></i>
                        <input class="city" type="text" placeholder="Wohin?" ng-model-options='{ debounce: 100 }'
                               ng-model="sc.city"
                            >
                    </label>
                </li>
                <li class="item" ng-show="$index<3" ng-repeat="city in sc.tripCities | filter:sc.city" ng-if="sc.city"
                    ng-click="sc.setCity(city.id)">{{city.title}}
                </li>

                <li class="item">
                    Tage
                    <div class="select-elements">
                        <div class="circle" ng-repeat="day in sc.availableDays"
                             ng-click="sc.selectedDays=day.value"
                             ng-class="{'circle-selected': sc.selectedDays == day.value}">{{day.title}}
                        </div>
                    </div>
                </li>
                <li class="item">
                    Personen
                    <div class="select-elements">
                        <div class="circle" ng-repeat="person in sc.availablePersons"
                             ng-click="sc.selectedPersons=person.value"
                             ng-class="{'circle-selected': sc.selectedPersons == person.value}">{{person.title}}
                        </div>
                    </div>
                </li>
                <li class="item item-toggle">
                    Übernachtung
                    <label class="toggle toggle-dark toggle-assertive">
                        <input type="checkbox">

                        <div class="track">
                            <div class="handle"></div>
                        </div>
                    </label>
                </li>


            </ul>
        </div>
        <div>
            <button ng-click="sc.searchTrips()" ui-sref="tab.search-result"
                    class="button button-full background-green bottom">
                Los geht's
            </button>
        </div>
    </ion-content>
</ion-view>
