<ion-view view-title="Locations" class="location-overview" ng-controller="LocationOverviewCtrl as loc">
    <ion-content class="background-color-grey">
        <ul class="list">
            <label class="item item-input" ng-if="loc.results.length>8">
                <i class="icon ion-search placeholder-icon"></i>
                <input type="search" placeholder="Suche" ng-change-options='{ debounce: 1000 }'
                       ng-model="loc.location"/>
            </label>
            <!-- check if current sate on profile oder on search tab -->
            <li class="item item-icon-right" ng-repeat="location in loc.results | filter: loc.location"
                ui-sref="{{loc.me ? 'tab.profile-locations-detail({ locationId: location._id})' : 'tab.search-result-location-detail({ locationId: location._id})'}}">
                <div class="image-container">
                    <!-- images -->
                    <img ng-if="location.images.picture" class="picture"
                         ng-src="{{loc.webPath}}{{location.images.thumbnail}}">
                    <img ng-if="!location.images.picture" class="googlemap"
                         ng-src="{{location.images.googlemap}}&size=200x200">
                </div>


                <!-- title, tags and description-->
                <label class="title">{{location.title}}</label>

                <div class="location-tags tags">
                    <span ng-repeat="tag in location.tags | limitTo: 3" class="tag">{{tag}}</span>
                </div>
                <p class="description">{{location.description}}</p>
                <i class="icon ion-chevron-right icon-accessory"></i>
            </li>
        </ul>
    </ion-content>
</ion-view>
