<ion-view view-title="Locations" class="location" ng-controller="LocationCtrl as lc">
    <ion-content class="background-color-grey">
        <ul class="list">
            <div>
                <div class="image-container">
                    <img class="image" ng-src="{{lc.webPath}}{{lc.result.images.thumbnail}}">
                </div>
            </div>

            <li class="item">
                <div class="text-bold">{{lc.result.title}}</div>
                <label>von </label>
                <label class="text-bold">{{lc.user.name || 'anonym'}}</label>
                <label>am </label>
                <label class="text-bold">{{lc.result.create_date}}</label>
            </li>
            <li class="item">
                <span>{{lc.result.description}}</span>
            </li>
            <li class="item">
                <div class="location-tags tags tag-detail">
                    <span ng-repeat="tag in lc.result.tags | limitTo: 3" class="tag">{{tag}}</span>
                </div>
            </li>
            <li class="item">
                <ui-gmap-google-map center='lc.map.center' zoom='lc.map.zoom'>
                    <ui-gmap-marker coords="lc.map.clickedMarker" idKey="lc.map.clickedMarker.id"
                                    options="lc.map.clickedMarker.options">
                    </ui-gmap-marker>
                </ui-gmap-google-map>
            </li>
        </ul>
    </ion-content>
</ion-view>
