<ion-view view-title="Locations" class="location" ng-controller="LocationCtrl as lc">
    <ion-content class="background-color-grey">
        <ul class="list">
            <div class="image-container"
                 style="background-image: url({{lc.webPath}}{{lc.result.images.picture + '?size=mobile'}});background-size: cover">
            </div>

            <li class="item">
                <div class="text-bold">{{lc.result.title}}</div>
                <label>von </label>
                <label class="text-bold">{{lc.user.name || 'anonym'}}</label>
                <label>am </label>
                <label class="text-bold">{{lc.result.create_date}}</label>
            </li>
            <li class="item description">
                <label>{{lc.result.description}}</label>
            </li>
            <li class="item">
                <div class="location-tags tags tag-detail">
                    <span ng-repeat="tag in lc.result.tags | limitTo: 3" class="tag">{{tag}}</span>
                </div>
            </li>
            <li>
                <div class="image-container">
                    <img class="image" ng-src="{{lc.result.images.googlemap}}&size=400x400">
                </div>
            </li>
        </ul>
    </ion-content>
</ion-view>
