<ion-view view-title="Locations" class="location" ng-controller="LocationCtrl as lc">
    <ion-content class="background-color-grey my-has-tabs">
        <ul class="list">
            <li class="item config" ng-if="lc.user._id === userID && lc.onProfile ">
                <div class="the-toggle">
                    <label class="toggle toggle-dark my-toggle"
                           ng-click="lc.togglePublic()">
                        <input type="checkbox" ng-model="lc.publicLocation">

                        <div class="track">
                            <div class="handle"></div>
                        </div>
                    </label>
                </div>
                <label class="public">öffentlich</label>
                <img class="icon" ng-src="images/icons/icons_stuff/cross.png" ng-click="lc.deleteLocation()">
                <img class="icon edit" ng-src="images/icons/icons_stuff/pencil.png"
                     ui-sref="tab.profile-locations-detail-edit({locationId:lc.result._id})">
            </li>
            <div class="image-container" ng-if="lc.result.images.picture"
                 style="background-image: url({{lc.webPath}}{{lc.result.images.picture + '?size=mobile'}});background-size: cover">
            </div>
            <div class="image-container" ng-if="!lc.result.images.picture">
                <img class="googlemap"
                     ng-src="{{lc.result.images.googlemap}}&size=400x400&key=AIzaSyCveLtBw4QozQIkMstvefLSTd3_opSvHS4">
            </div>

            <li class="item">
                <div class="text-bold">{{lc.result.title}}</div>
                <label>von </label>
                <label class="text-bold" ui-sref="tab.search-user({userId:lc.user._id})">{{lc.user.name ||
                    'anonym'}}</label>
                <label>am </label>
                <label class="text-bold">{{lc.result.create_date}}</label>
                <label>erstellt</label>
            </li>
            <li class="item description">
                <label>{{lc.result.description}}</label>
            </li>
            <li class="item">
                <div class="location-tags tags tag-detail">
                    <span ng-repeat="tag in lc.result.tags" class="tag">{{tag}}</span>
                </div>
            </li>
            <li ng-click="lc.openMaps()">
                <div class="image-container auto-height" ng-if="lc.result.images.picture">
                    <img class="image"
                         ng-src="{{lc.result.images.googlemap}}&size=400x400&key=AIzaSyCveLtBw4QozQIkMstvefLSTd3_opSvHS4">
                </div>
            </li>
        </ul>
    </ion-content>
</ion-view>
