.insert-location .placeholder-image {
    width: 100%;
}

.insert-location a.choose-image {
    width: auto;
    margin-top: -54px;
    margin-left: -36px;
    background-color: rgb(34, 34, 34);
    border-radius: 50%;
    border: 2px solid white;
}

.insert-location a.choose-image {
    top: 50%;
    left: 50%;
    position: absolute;
}

.insert-location .choose-image img{
    width: 60px;
    height: 60px;
    padding: 15px;
}
.insert-location .gps-button {
    width: 100%;
}

.insert-location .location-image {
    position: relative;
}

.insert-location .google-map {
    padding: 10px;
}

.insert-location .error-button {
    background-color: red;
}


.insert-location .error {
    background-color: rgb(255, 200, 200);
}

.insert-location textarea {
    background-color: transparent;
}

.insert-location .invisible {
    visibility: hidden;
}

.ngProgressLiteBar {
    background: rgba(65, 191, 180, 1) !important;
    position: fixed;
    z-index: 99999;
    top: 0;
    left: 0;
    height: 6px !important;
}

