.insert-location .placeholder-image {
    width: 100%;
    float: left;
}

.insert-location a.choose-image {
    width: auto;
    margin-top: -60px;
    margin-left: -50px;
}

.insert-location a.choose-image {
    top: 50%;
    left: 50%;
    position: absolute;
}

.insert-location .choose-image img {
    width: 100px;
    height: 100px;
    padding: 15px;
}

.insert-location .gps-button {
    width: 100%;
    height: 60px;
    font-weight: 600;
    color: white;
    background-color: rgb(34,34,34);
}

.insert-location .location-image {
    position: relative;
    float: left;
    width: 100%;
}

.insert-location .error-button,
.insert-location .error {
    border-color: rgb(241, 100, 73);
    border-width: 2px;
    margin: 1px;
}

.insert-location textarea {
    background-color: transparent;
    padding-right: 5px;

}

.insert-location .invisible {
    visibility: hidden;
}

.insert-location .button.button-dark {
    border-color: rgb(34, 34, 34);;
    background-color: transparent;
    color: rgb(34, 34, 34);;
}

.insert-location .flag-little {
    background-image: url('images/icons/flag_klein_360.png');
    background-size: contain;
    background-repeat: no-repeat;
    float: right;
    vertical-align: middle;
    margin-top: 6px;
    height: 33px;
    width: 22px;
    margin-right: 10px;
}

.insert-location .locate-text {
    float: left;
    font-family: Signika;
    color: rgb(34, 34, 34);
}

.insert-location tags-input .tags {
    border-radius: 3px;
    padding: 4px;
    box-shadow: none;
}

.insert-location .tag-input {
    border: 0px;
    padding: 0px;
    width: 100% !important;
}

.insert-location tags-input .tags .input {
    border: 0;
    outline: 0;
    margin: 2px;
    padding: 0;
    padding-left: 10px;
    float: left;
    height: 26px;
}

/********************** new design ***************/

.background-color-dark,
.background-color-dark li,
.background-color-dark label,
    /*.background-color-dark span,*/
.insert-location tags-input .tags,
.background-color-dark textarea,
.background-color-dark input {
    background: rgb(34, 34, 34);
    color: #fff;
    border-color: #4f4f4d;
    font-family: Signika;
    font-size: 16px;
    line-height: 19px;
}

.insert-location tags-input .tags {
    border-radius: 0px;
    min-height: 47px;
    font-size: 16px;
}

.background-color-dark tags-input .host {
    margin: 0;
}

.background-color-dark tags-input .tags .input {
    font-family: Signika;
    font-size: 16px;
}

.background-color-dark .item-icon-right .icon-accessory {
    color: #fff;
}

.background-color-dark .circle-selected {
    background-color: #fff;
    color: rgb(34, 34, 34);
}

.background-color-dark input[type="date"] {
    color: #fff;
}

.background-color-dark span.input-label {
    max-width: 100px;
}

.background-color-dark .toggle.toggle-dark input:checked + .track {
    background-color: #fff;
}

.background-color-dark .toggle .track {
    background-color: rgb(34, 34, 34);
}

.background-color-dark.circle {
    /*border-color: #38d8ca ;*/
    border-color: #fff;
}

.background-color-dark .button-insert-location {
    height: 60px;
    font-weight: 500;
    color: rgb(34, 34, 34);
    background-color: #fff;
    font-size: 20px;
}

.insert-trip .button-select-locations {
    height: 60px;
    font-weight: bold;
    background: #f05346;
    color: #fff;
    font-size: 20px;
}



.background-color-dark .text-right {
    padding-right: 0px;
}

.tab-item-active.locate {
    background-color: rgb(34, 34, 34);
}

.insert-location .location-image .image-container {
    background-color: whitesmoke;
}

.insert-location tags-input .tags .tag-item {
    background: #fff;
    color: rgb(34, 34, 34);
    border: none !important;
    line-height: 26px !important;
    font-family: Signika;
    font-size: 16px;
}

.insert-location span.ng-binding {
    font-size: 16px;
}

.insert-location li.item.create {
    margin: 0;
    border: 0;
    padding: 0;
}

.location-finish {
    padding: 7px;
    font-size: 17px;
    font-weight: 500;
}

.insert-location .no-register {
    background-color: #fff;
    color: rgb(34, 34, 34);
}

.insert-location .message {
    font-size: 18px;
    font-weight: bold;
    line-height: 29px;
    float: left;
    text-align: center;
    background-color: #fff;
    color: rgb(34, 34, 34);
}

.insert-location tags-input .tags {
    -moz-appearance: none !important;
    -webkit-appearance: none !important;;
}

.insert-location .tag-input {
    line-height: 20px;
}

.insert-location textarea.ng-pristine.ng-untouched.ng-invalid.ng-invalid-required.ng-valid-maxlength {
    padding-top: 6px;
}

.location-overview ion-content {
    padding-top: 15px;
}

.insert-location .item {
    background: white;
    border-color: whitesmoke;
}
