.insert-trip .toggle.toggle-dark input:checked + .track,
.mood-checkbox .border-transparent:after,
.insert-trip .circle-selected,
.insert-trip .checkbox input:checked:before, .checkbox input:checked + .checkbox-icon:before {
    background-color: #f05346;
}

.insert-trip .toggle.toggle-dark input:checked + .track {
    border-color: white;
}

.insert-trip .checkbox input:checked:before, .checkbox input:checked + .checkbox-icon:before {
    border-color: #f05346;
}

.insert-trip .equipment span.ng-binding {
    line-height: 38px;
}

.insert-trip .locations li.item.item-icon-right {
    padding: 5px;
    margin: 5px 10px;
    border-radius: 5px;
}

.insert-trip .locationsByCity li.item.item-icon-right {
    margin: 3px 10px;
}

.insert-trip .image-container {
    width: 80px;
    height: 80px;
    overflow: hidden;
    float: left;
}

.insert-trip .title {
    padding-left: 5px;
    font-weight: bold;
    float: left;
    text-overflow: ellipsis;
    overflow: hidden;
    width: 170px;
}

.insert-trip .description {
    padding-top: 5px;
    width: 170px;
    font-size: 12px;
    text-overflow: ellipsis;
    overflow: hidden;
    padding-left: 5px;
    line-height: 18px;
}

.insert-trip .header {
    margin: 10px;
    height: 50px;
}

.insert-trip .center {
    text-align: center;
    padding-top: 10px
}

.insert-trip .button-my,
.insert-trip .button-all {
    width: 25%;
    margin-left: -3px;
    margin-right: -3px;
    border-color: #f47c7e;
    color: #f05346;
    min-height: 33px;
    line-height: 33px;
}

.insert-trip .selected {
    background-color: #f05346;
    color: white;
}

.insert-trip .button-my {
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}

.insert-trip .button-all {
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}

.insert-trip i.icon.ion-plus-circled.icon-accessory {
    font-size: 23px;
}

.insert-trip i.icon.ion-minus-circled.icon-accessory {
    font-size: 23px;
    color: #f05346;
}

.insert-trip .selected-location {
    border-color: #f47c7e;
    border-width: 1px;
}

.insert-trip .mood-title {
    font-size: 16px;
    line-height: 21px;
}

.insert-trip .required-text {
    float: right;
    margin-right: 10px;
    margin-top: 5px;
}

.insert-trip .error {
    border-color: red;
    border-width: 2px;
    margin: 1px;
}

.insert-trip .location-tags .tag {
    background: rgb(49, 47, 48);
    border-radius: 10px;
    margin-right: 5px;
    padding-left: 5px;
    padding-right: 5px;
    font-size: 10px;
    float: left;
    color: white;
}

.insert-trip .location-tags {
    position: absolute;
    bottom: 5px;
    left: 90px;
    width: 170px;
    height: 25px;
    overflow: hidden;
}


.insert-trip .list-icon {
    float: left;
    height: 42px;
    width:  62px;
    padding-right: 10px;
    padding-left: 10px;
}

.insert-trip .item-option {
    padding: 5px;
}

.insert-trip .option-label {
    font-size: 16px;
    line-height: 41px;
}

.background-color-coral,
.background-color-coral li,
.background-color-coral label,
.background-color-coral span {
    background: transparent;
    color: #fff;
    border-color: rgba(2,2,2,0.03);
}

.background-color-coral .item-icon-right .icon-accessory {
    color: #fff;
}

.background-color-coral .circle-selected {
    background-color: #fff;
    color: #f05346;
}

.background-color-coral input[type="date"] {
    color: #fff;
}

.background-color-coral span.input-label {
    max-width: 100px;
}

.background-color-coral .toggle.toggle-dark input:checked + .track {
    background-color: #fff;
}

.background-color-coral .toggle .track {
    background-color: #f05346;
}

.background-color-coral .circle {
    border-color: #fff;
}

.background-color-coral .insert-trip-button {
    height: 60px;
    font-weight: bold;
    color: #f05346;
    background-color: #fff;
    font-size: 20px;
}

.background-color-coral .text-right {
    padding-right: 0;
}

.tab-item-active.offer {
    background-color: #f05346;
}

.insert-trip .message {
    font-size: 18px;
    font-weight: bold;
    line-height: 29px;
    float: left;
    text-align: center;
    background-color: #fff;
    color: rgb(255, 70, 55);
}


.insert-trip .success-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    text-align: center;
    background-color: rgba(34, 34, 34, .6);
    padding-top: 225px;
    color: #fff;
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
}

.insert-trip .success-overlay h4 {
    color: white;
    position: relative;
    bottom: 170px;
}

.insert-trip .equi-ico.pointer {
    margin: 0;
    width: 12%;
    height: 44px;
    background-size: 100% !important;
    background-repeat: no-repeat;
}

.background-color-coral .insert-trip-button {
    border: none;
}

.insert-trip .ion-item-insert-style {
    padding: 0;
    border: 0;
}

.insert-trip .button-finish {
    background: #f05346;
    color: #fff;
    height: 60px;
    font-weight: bold;
    font-size: 20px;
}

.insert-trip .search-location {
    border-radius: 5px;
    margin: 0 9px 3px 9px
}

ion-item.ion-item-insert-style.item {
    margin: 0;
}

.insert-trip ul.list {
    float: left;
    width: 100%;
}
