.insert-location .placeholder-image {
    width: 100%;
    float: left;
}

.insert-location a.choose-image {
    width: auto;
    margin-top: -54px;
    margin-left: -36px;
    background-color: rgb(34, 34, 34);
    border-radius: 50%;
    border: 2px solid white;
}

.insert-location a.choose-image {
    top: 50%;
    left: 50%;
    position: absolute;
}

.insert-location .choose-image img {
    width: 60px;
    height: 60px;
    padding: 15px;
}

.insert-location .gps-button {
    width: 100%;
}

.insert-location .location-image {
    position: relative;
    float: left;
    width: 100%;
}

.insert-location .google-map {
    padding: 10px;
}

.insert-location .error-button,
.insert-location .error {
    border-color: rgb(241, 100, 73);
    border-width: 2px;
    margin: 1px;
}

.insert-location textarea {
    background-color: transparent;
}

.insert-location .invisible {
    visibility: hidden;
}

.ngProgressLiteBar {
    background: rgba(65, 191, 180, 1) !important;
    position: fixed;
    z-index: 99999;
    top: 0;
    left: 0;
    height: 44px !important;
}
.ngProgressLite .ngProgressLiteBarShadow {
    /* disable box shadow */
    box-shadow: aliceblue;
}

.insert-location .button:hover {
    color: white;
}

.insert-location .button.button-dark {
    border-color: #111;
    background-color: transparent;
    color: black;
}

.insert-location .flag-little {
    background-image: url('images/icons/flag_klein_360.png');
    background-size: contain;
    background-repeat: no-repeat;
    float: right;
    vertical-align: middle;
    margin-top: 6px;
    height: 33px;
    width: 22px;
}

.insert-location .locate-text {
    float: left;
    font-family: Signika;
    color: black;
}
