.location-overview .image-container {
    width: 80px;
    height: 80px;
    overflow: hidden;
    float: left;
}

.location-overview .picture {
    width: 136px;
}

.location-overview .googlemap {
    width: 80px
}

.location-overview .item {
    padding: 5px;
}

.location-overview .title {
    padding-left: 5px;
    font-weight: bold;
    float: left;
    text-overflow: ellipsis;
    overflow: hidden;
}

.location-tags .tag {
    background: rgb(49, 47, 48);
    border-radius: 10px;
    margin-right: 5px;
    padding-left: 5px;
    padding-right: 5px;
    font-size: 10px;
    float: left;
    color: white;
    margin-bottom: 5px;
}

.location-overview .location-tags {
    position: absolute;
    bottom: 5px;
    left: 90px;
    height: 25px;
    overflow: hidden;
}

.location-overview .description {
    padding-top: 5px;
    width: 170px;
    font-size: 12px;
    text-overflow: ellipsis;
    overflow: hidden;
    padding-left: 5px;
    line-height: 18px;
}


