.location .image-container {
    width: 100%;
    overflow: hidden;
    float: left;
    height: 300px;
    background-position: center;
    background-repeat: no-repeat;
}

.tag-detail {
    float: left;
}

.location .image-container img {
    width: 100%;
}

.angular-google-map-container {
    height: 280px;
    width: 80%;
    margin-left: 10%;
    margin-right: 10%;
}

.location .description {
    white-space: initial;
}
