.list.list-inset.bottom {
    bottom: 49px;
    position: absolute;
    margin: 0;
}

.out span.since.ng-binding {
    padding-right: 12px;
}

.list.list-inset.bottom {
    width: 100%;
}

.messages .content {
    float: left;
    width: 100%;
    padding-bottom: 15px;
}

.messenger label.ng-binding {
    padding-top: 23px;
    float: left;
    font-size: 15px;
    font-weight: bold;
    padding-left: 10px;
    line-height: 5px;
}

.messenger li.item {
    padding: 5px;
}

label.last-message.ng-binding {
    font-size: 10px;
    float: right;
    padding-right: 5px;
    width: 110px;
}

span.since.ng-binding {
    font-size: 9px;
    color: rgb(34, 34, 34);;
    padding-left: 5px;
    margin-top: 5px;
    float: right;
}

.messenger-container .content .message {
    min-width: 100%;
    max-width: 100%;
}

.messenger-container .content .message.out p {
    background-color: rgb(255, 70, 55);
    float: right;
    margin-right: 10px;
}

.messenger-container .content .message p {
    background-color: rgb(51, 196, 183);
    color: white;
    max-width: 80%;
    position: relative;
    float: left;
    min-width: 33%;
    padding: 10px;
    word-wrap: break-word;
    border-radius: 5px;
    margin-bottom: -10px;
    margin-left: 10px;
}

.messenger-container .conversations .item {
    padding: 10px;
    float: left;
    width: 100%;
}

.messenger-container .conversations .item:nth-child(odd) {
    background: rgb(232, 232, 232);
}

.messenger-container .conversations .item:nth-child(even) {
    background: whitesmoke;
}

.messenger-container .conversations .item.active {
    background-color: rgb(51, 196, 183);
}

.messenger-container .conversations .item.unread {
    background-color: rgb(34, 34, 34);;
}

.messenger-container .conversations {
    max-height: calc(100vh - 60px);
    overflow-y: scroll;
}

.md-avatar {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    box-sizing: content-box;
    float: left;
    margin-left: 12px;
}

.messenger-container .header {
    float: left;
    width: 100%;
}

.messenger-container .content .message {
    float: left;
    margin-bottom: 15px;
    margin-top: 15px;
}

.messenger-button {
    width: 50px;
    height: auto;
    border: none;
    float: left;
    background: white;
    margin-top: 7px;
}

.messenger-container .my-message {
    padding-right: 0px !important;
}

button#chat_submit {
    float: right;
}

#chat_box {
    width: calc(100% - 60px);
    background: white;
    border: none;
    float: left;
    padding: 11px;
    height: 70px;
}

.chat-input {
    padding-top: 15px;
    float: left;
    width: 100%;
    padding-bottom: 20px;
    padding: 2px;
    background-color: #ff4637;
    margin-top: 20px;
    border-radius: 3px;
}

span.bubble {
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 20px 20px 0 0;
    border-color: #33c4b8 transparent transparent transparent;
    position: absolute;
    left: 0;
    bottom: -10px;
}

.out span.bubble {
    right: 0;
    left: auto;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0 20px 20px 0;
    border-color: transparent #ff4837 transparent transparent;
}

.conversations {
    padding-top: 15px;
    float: left;
    width: 100%;
}

.emoji-icon {
    height: 20px;
}

.logged-out .messenger-popover {
    display: none;
}

.messenger-container .conversations .item.unread {
    background-image: url('images/icons/chat/messenger_erhalten.png');
}

.message-icon {
    float: right;
    height: 20px;
    width: 20px;
    margin-right: 21px;
    margin-top: 14px;
}

.messenger-container .item-input {
    float: left;
    width: 75%;
    border: none;
}

.messenger-container .button {
    width: 25%;
    font-size: 12px;
    color: white !important;
    background-color: rgb(51, 196, 183) !important;
    border: none;
    height: 100%;
    border-radius: 0;
    z-index: 100;
    box-shadow: none !important;
}

.messenger-container .emoji-overlay {
    position: absolute;
    background-color: rgba(0, 0, 0, 0.8);
    padding: 9px;

    border-radius: 3px;
    padding-bottom: 58px;

    bottom: -100px;
    visibility: hidden;

    transition-duration: 0.3s;
    transition-timing-function: ease-out;
}

.messenger-container .emoji-overlay.open {
    visibility: visible;
    bottom: 53px;
}

.messenger-container .list {
    float: left;
    width: 100%;
}

.messenger-container #my-message {
    line-height: 22px;
}

/*    background-color: rgba(51, 196, 183, 1);  -> new message */
