.list.list-inset.bottom {
    bottom: 38px;
    position: absolute;
}

.out span.since.ng-binding {
    padding-right: 12px;
}

.list.list-inset.bottom {
    width: 100%;
    margin: 0px 0px 11px 0px;
}

.messages ion-content.background-color-grey.scroll-content.ionic-scroll.has-header.has-tabs {
    margin-bottom: 47px;
}



.messenger label.ng-binding {
    padding-top: 23px;
    float: left;
    font-size: 15px;
    font-weight: bold;
    padding-left: 10px;
    line-height: 5px;
}

.messenger li.item {
    padding: 5px;
}

label.last-message.ng-binding {
    font-size: 10px;
    float: right;
    padding-right: 5px;
    width: 90px;
}

span.since.ng-binding {
    font-size: 9px;
    color: rgb(34, 34, 34);;
    padding-left: 5px;
    margin-top: 5px;
    float: right;
}

/*+++++++++++++++++++++++++++++++++++++++++++++++++++*/


.messenger-container .content .message {
    min-width: 100%;
}

.messenger-container .content .message.out p {
    background-color: rgb(255, 70, 55);
    float: right;
}
.messenger-container .content .message p {
    background-color: rgb(51, 196, 183);
    color: white;
    max-width: 80%;
    position: relative;
    float: left;
    min-width: 33%;
    padding: 10px;
    word-wrap: break-word;
    border-radius: 5px;
}


/*##################################################### copy ################################################*/

.messenger-container .conversations .item {
    padding: 10px;
    float: left;
    width: 100%;
}
/**/
.messenger-container .conversations .item:nth-child(odd) {
    background: rgb(232, 232, 232);
}
/**/
.messenger-container .conversations .item:nth-child(even) {
    background: whitesmoke;
}
/**/
.messenger-container .conversations .item.active {
    background-color: rgb(51, 196, 183);
}
/**/
.messenger-container .conversations .item.unread {
    background-color: rgb(34, 34, 34);;
}
/**/
.messenger-container .conversations {
    max-height: calc(100vh - 60px);
    overflow-y: scroll;
}
/**/
.md-avatar {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    box-sizing: content-box;
    float: left;
}
/**/
.messenger-container .header {
    float: left;
    width: 100%;
}
/**/

/**/

/**/
.messenger-container .content .message {
    float: left;
    margin-bottom: 15px;
    margin-top: 15px;
}
/**/

/**/

/**/
.messenger-button {
    width: 60px;
    height: 70px;
    border: none;
    float: left;
    background: white;
}
/**/
button#chat_submit {
    float: right;
}
/**/
#chat_box {
    width: calc(100% - 60px);
    background: white;
    border: none;
    float: left;
    padding: 11px;
    height: 70px;
}
/**/
.chat-input {
    padding-top: 15px;
    float: left;
    width: 100%;
    padding-bottom: 20px;
    padding: 2px;
    background-color: #ff4637;
    margin-top: 20px;
    border-radius: 3px;
}
/**/
span.bubble {
    height: 20px;
    width: 30px;
    background-color: rgb(51, 196, 183);
    float: left;
    position: absolute;
    bottom: -4px;
    left: -16px;
    transform: rotate(52deg);
}
/**/
.out span.bubble {
    right: -13px;
    background-color: #ff4637;
    left: inherit;
    bottom: -5px;
    transform: rotate(35deg);
}
/**/
.emoji-overlay {
    position: absolute;
    background-color: white;
    padding: 15px;
    padding: 9px;
    right: 60px;
}
/**/
.conversations {
    padding-top: 15px;
    float: left;
    width: 100%;
}
/**/
.emoji-icon {
    height: 20px;
}
/**/
.logged-out .messenger-popover {
    display: none;
}

.messenger-container .conversations .item.unread {
    background-image: url('images/icons/chat/messenger_erhalten.png');
}

.message-icon {
    float: right;
    height: 30px;
    width: 30px;
    margin-right: 20px;
    margin-top: 10px;
}
