.profile .profile-image {
    width: 125px;
    height: 125px;
    margin-bottom: 30px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-radius: 50%;
}

.profile .username {
    text-align: center;
    display: block;
    font-weight: bold;
    color: rgb(33, 205, 196);;
}

.profile .config-button {
    width: 100%;
}

.profile .save-button {
    width: 50%;
}

.profile .abort-button{
    float: right;
    width: 50%;
}

.profile .edit .title {
    margin-right: 20px;
}

.profile .edit .item input {
    text-align: right;
    border: 0;
}

.profile .edit .item textarea {
    width: 100%;
    background-color: transparent;

}

.profile .birthdate {
    margin-left: 5px;
}

.edit .description{
    width: 50%;
}
