.result-mood {
    float: left;
    height: 40px;
    width: 56px;
    padding-right: 16px;
    margin-top: -3px;
}

.mood-container {
    padding: 9px;
}

.mood-title {
    float: left;
    line-height: 19px;
    font-size: 16px;
    margin-left: -2px;
}

li.item.trip-options {
    background-color: #F8F8F8;
    color: rgb(68, 68, 68);
    border-bottom: none;
}

li.item.trip-options .icon {
    height: 35px;
    width: 35px;
    vertical-align: middle;
    margin-right: 10px;
    margin-top: -8px;

}

li.item.trip-options .user {
    float: right;
    width: calc(100% - (16px + (3*45px)));
    overflow: hidden;
    text-overflow: ellipsis;
    text-align: right;
}

label.name.ng-binding {
    font-weight: bold;
    font-size: 12px;
}

.search-result label.dekotext {
    font-size: 11px;
}

.last-trip-element {
    border-bottom: 3px solid rgb(34, 34, 34);;
}

.item.trip-title-in-results {
    background-color: rgb(51, 196, 183);
    color: #fff;
    border: 0;
    font-size: 18px;
}

.trip-text-location {
    background-color: rgb(51, 196, 183);
    color: #fff;
    width: 100%;
    text-align: right;
    border: 0;
    opacity: 0.6;
    line-height: 28px;
    padding-right: 20px;
    margin-bottom: -28px;
    font-weight: bold;
}

.image-all-locations {
    height: 20px;
    width: auto;
    vertical-align: middle;
    padding-left: 6px;
    padding-right: 20px;
}

.image-filter {
    height: 35px;
    width: auto;
    vertical-align: middle;
    padding-left: 6px;
}

.search-result ion-item.item {
    padding: 25px 0;
    border: 0px;
}

.search-result ion-item.item:first-child {
    padding-top: 0;
}

.search-result .hack-for-first-element {
    margin-bottom: -17px;
}

.search-result label  {
    font-size: 16px;
}

.search-result .line {
    padding: 5px;
}

.search-result label.mood-title.ng-binding {
    line-height: 35px;
}
