.select-elements {
    position: absolute;
    top: 10px;
    right: 16px;
    z-index: 3;
}

.search-date {
    width: 100%;
    height: 100%;
    background-color: transparent;
}

.spinner svg {
    width: 75px;
    height: 75px;
}

.loading-container .loading {
    background-color: transparent;
}

.filter-icon-down {
    float: right;
    padding-left: 10px;
}

.search-filter {
    text-align: right;
    padding-right: 19px;
}

.text-right {
    text-align: right;
    padding-right: 0px;;
}

.mood-text {
    float: left;
    line-height: 37px;
}

.mood-checkbox {
    float: right;
}


.toggle.toggle-dark input:checked + .track {
    background-color: rgb(51, 196, 183);
    border-color: transparent;
}

.mood-checkbox .border-transparent:before {
    border-color: #ddd;

}
.checkbox input:checked:before, .checkbox input:checked + .checkbox-icon:before{
    background-color: rgb(51, 196, 183);
    border-color: rgb(51, 196, 183);

}


.mood-checkbox .border-transparent:after {
    background-color: rgb(51, 196, 183);

}


/********************** new design ***************/

.background-color-cyan,
.background-color-cyan li,
.background-color-cyan label,
.background-color-cyan span {
    background: rgb(51, 196, 183);
    color: #fff;
    border-color: #38d8ca
}

.background-color-cyan .item-icon-right .icon-accessory {
    color: #fff;
}

.background-color-cyan .circle-selected {
    background-color: #fff;
    color: rgb(51, 196, 183);
}

.background-color-cyan input[type="date"] {
    color: #fff;
}

.background-color-cyan span.input-label {
    max-width: 100px;
}

.background-color-cyan .toggle.toggle-dark input:checked + .track {
    background-color: #fff;
}

.background-color-cyan .toggle .track {
    background-color: rgb(51, 196, 183);
}

.background-color-cyan .circle {
    /*border-color: #38d8ca ;*/
    border-color: #fff;
}

.background-color-cyan .search-button {
    height: 80px;
    font-weight: bold;
    color: rgb(51, 196, 183);
    background-color: #fff;
}

.background-color-cyan .text-right {
    padding-right: 0px;
}

.tab-item-active.search {
    background-color: rgb(51, 196, 183);;
}

.image-all-locations {
    height: 20px;
    width: auto;
    vertical-align: middle;
    padding-left: 6px;
}
