.result-mood {
    float: left;
    height: 34px;
    padding-right: 10px;
}

.mood-container {
    padding: 9px;
}

.mood-title {
    float: left;
    line-height: 31px;
    font-size: 16px;
}

li.item.trip-options {
    background-color: #343434;
    color: white;
}

li.item.trip-options .icon {
    width: 31px;
    vertical-align: middle;
    margin-right: 10px;
}

li.item.trip-options .icon-small {
    margin-top: 5px;
    margin-bottom: 5px;
}

li.item.trip-options .user {
    float: right;
    padding-right: 10px;
}

label.name.ng-binding {
    font-weight: bold;
    font-size: 12px;
}

label.dekotext {
    font-size: 11px;
}

.last-trip-element {
    border-bottom: 3px solid rgb(34, 34, 34);;
}

.item.trip-title-in-results {
    background-color: rgb(51, 196, 183);
    color: #fff;
    border: 0;
}

.trip-text-location {
    background-color: rgb(51, 196, 183);
    color: #fff;
    width: 100%;
    text-align: right;
    border: 0;
    opacity: 0.6;
    line-height: 28px;
    padding-right: 20px;
    margin-bottom: -28px;
    font-weight: bold;
}

.image-all-locations {
    height: 20px;
    width: auto;
    vertical-align: middle;
    padding-left: 6px;
    padding-right: 20px;
}

.image-filter {
    height: 35px;
    width: auto;
    vertical-align: middle;
    padding-left: 6px;
    padding-right: 15px;
}

.search-result ion-item.item {
    padding: 16px 0;
    border: 0px;
}

.search-result .hack-for-first-element {
    margin-bottom: -17px;
}
