@font-face {
    font-family: 'Signika';
    src: url('../fonts/Signika-Regular.ttf') format('truetype');
    font-weight: normal;
}

@font-face {
    font-family: 'Signika';
    src: url('../fonts/Signika-Bold.ttf') format('truetype');
    font-weight: bold;
}

@font-face {
    font-family: 'Signika';
    src: url('../fonts/Signika-Light.ttf') format('truetype');
    font-weight: 200;
}

* {
    font-family: Signika;
}

body {
    font-family: Signika !important;
}

.signika button,
.signika label,
.signika span,
.signika h5,
.signika h4,
.signika h3,
.signika h2,
.signika h1,
.signika div,
.signika textarea,
.signika text,
.signika input,
.signika ion-content {
    font-family: Signika !important;
    font-weight: 200;
}

.image-container-full,
.image-container {
    width: 100%;
    overflow: hidden;
    float: left;
    height: 225px;
    background-position: center;
    background-repeat: no-repeat;
}

.image-container-thumb {
    width: 100%;
    overflow: hidden;
    float: left;
    height: 80px;
    background-position: center;
    background-repeat: no-repeat;
}

.ngProgressLiteBar {
    background: rgb(51, 196, 183) !important;
    position: fixed;
    z-index: 99999;
    top: 0;
    left: 0;
    height: 15px !important;
}

.ngProgressLite .ngProgressLiteBarShadow {
    /* disable box shadow */
    box-shadow: none !important;
}

.circle {
    border-radius: 50%;
    border: 1px solid #ddd;
    width: 35px;
    height: 35px;
    line-height: 33px;
    text-align: center;
    display: inline-block;
    vertical-align: middle;
    margin-left: 5px;

}

.circle-selected {
    color: white;
    background-color: rgb(51, 196, 183);
    border: transparent;
}

.moods-style {
    height: 33px;
    float: left;
}

/*TODO refactor and remove */
.tmpImageWidth {
    width: 100%;
}

.text-color-grey {
    color: #B7B6B6;
}

.text-bold {
    font-weight: normal !important;
}

.background-color-grey {
    background-color: #f8f8f8;
}

.background-color-grey .item {
    background-color: transparent;
    /*border-color: transparent;*/
}

.background-color-grey .toggle .track {
    background-color: transparent;
}

.home-back-button {
    border-color: transparent;
    background: none;
    box-shadow: none;
    color: #444;
    font-size: 17px;
    line-height: 28px;
    width: 50px;
}

.ion-ios-arrow-back:before {
    font-size: 32px;
}

.welcome .back-button-text {
    display: inline-block;
}

.button-not-authenticated {
    background-color: transparent;
    color: white;
    width: 100%;
    font-size: 15px;
    border-width: 0px;
}

.button-not-authenticated.left {
    text-align: right;
    padding-right: 25px;
}

.button-not-authenticated.right {
    text-align: left;
    padding-left: 25px;
}

.pageWithButton ion-content {
    margin-bottom: 50px;
}

.pageWithBigButton ion-content {
    margin-bottom: 59px;

}

.button-bottom {
    bottom: 38px;
    position: absolute;
    border: none;
    font-size: 18px !important;
    font-weight: 600 !important;
}

.mood span.ng-binding {
    line-height: 38px;
}

.mood .ion-plus-circled:before {
    line-height: 34px;
}

.insert-trip .not-auth-background,
.insert-location .not-auth-background {
    background: #fff;
}

.not-auth-container {
    margin: 0 50px;
}

/* hahahaha :-D */
.float-right {
    float: right;
}

.bar .button.button-clear .icon:before, .bar .button.button-clear.icon:before, .bar .button.button-clear.icon-left:before, .bar .button.button-clear.icon-right:before {
    font-size: 23px;
    line-height: 31px;
}

.bar .button.button-icon:before, .bar .button .icon:before, .bar .button.icon:before, .bar .button.icon-left:before, .bar .button.icon-right:before {
    padding-right: 2px;
    padding-left: 0px;
    font-size: 20px;
    line-height: 31px;
}

.ion-ios-arrow-back:before {
    font-size: 32px;
}

.bar.bar-stable {
    padding: 5px 14px;
    background-color: white;
    border-color: white;
}

.select-elements .circle.circle-selected {
    line-height: 35px;
}

.bar .title + .button:last-child, .bar > .button + .button:last-child, .bar > .button.pull-right, .bar .buttons.pull-right, .bar .title + .buttons {
    right: 9px;
}

ion-nav-view.view-container.tab-content {
    background-color: white;
}

.toggle .track {
    border-color: white;
}

.emoji {
    vertical-align: middle;
}

.fix-item-height {
    height: 54px;
}

.chosen-mood {
    margin-top: -11px !important;
    margin-left: -6px;
}

.moods .item {
    padding: 10px;
}

.moods .mood img.result-mood {
    margin-top: -1px;
}

.auto-height {
    height: auto;
}

/** on keyboard open **/
.keyboard-open ion-tabs .tab-nav.tabs {
    display: none;
}

.keyboard-open .my-has-tabs,
.keyboard-open .button-bottom {
    bottom: 0;
}

.keyboard-open .pageWithBigButton ion-content {
    margin-bottom: 0;
}

.keyboard-open .list.list-inset.bottom {
    bottom: 0;
}

.keyboard-open .messages ion-content.background-color-grey.scroll-content.ionic-scroll.has-header.has-tabs {
    margin-bottom: 0;
}

/** style **/
.remove-margin-bottom {
    margin-bottom: 0;
}

.popup .button.button-positive {
    background-color: rgb(51, 196, 183);
    border-color: rgb(51, 196, 183);
}

.popup {
    border-radius: 3px;
    overflow: hidden;
    background: #EAEDEE;
}

.popup-head {
    border-bottom: 1px solid #eee;
    text-align: center;
    padding: 25px 10px;
    background-color: #32C3B6;
    color: white;
}

h3.popup-title {
    color: white;
    font-size: 16px;
}

.button.button-full {
    border: none;
}

.popup .button.button-positive, .popup-buttons {
    color: #6B6B6B;
    background-color: #F8F8F8;
    border-color: #F8F8F8;
}

.popup-container.error .popup-head {
    background-color: #f05346;
}
