@font-face {
    font-family: 'Signika';
    src: url('../fonts/Signika-Regular.ttf') format('truetype');
    font-weight: normal;
}

@font-face {
    font-family: 'Signika';
    src: url('../fonts/Signika-Bold.ttf') format('truetype');
    font-weight: bold;
}

@font-face {
    font-family: 'Signika';
    src: url('../fonts/Signika-Light.ttf') format('truetype');
    font-weight: 200;
}

* {
    font-family: Signika;
}

body {
    font-family: Signika !important;
}

.signika button,
.signika label,
.signika span,
.signika h5,
.signika h4,
.signika h3,
.signika h2,
.signika h1,
.signika div,
.signika textarea,
.signika text,
.signika input,
.signika ion-content {
    font-family: Signika !important;
    font-weight: 200;
}

.image-container-full,
.image-container {
    width: 100%;
    overflow: hidden;
    float: left;
    height: 225px;
    background-position: center;
    background-repeat: no-repeat;
}

.image-container-thumb {
    width: 100%;
    overflow: hidden;
    float: left;
    height: 80px;
    background-position: center;
    background-repeat: no-repeat;
}

.ngProgressLiteBar {
    background: rgb(51, 196, 183) !important;
    position: fixed;
    z-index: 9 !important;
    top: 0;
    left: 0;
    height: 44px !important;
}

.platform-ios .ngProgressLiteBar {
    margin-top: 20px;
}

.ngProgressLite .ngProgressLiteBarShadow {
    /* disable box shadow */
    box-shadow: none !important;
}

.circle {
    border-radius: 50%;
    border: 1px solid #ddd;
    width: 35px;
    height: 35px;
    line-height: 33px;
    text-align: center;
    display: inline-block;
    vertical-align: middle;
    margin-left: 5px;

}

.circle-selected {
    color: white;
    background-color: rgb(51, 196, 183);
    border: transparent;
}

.moods-style {
    height: 33px;
    float: left;
}

.tmpImageWidth {
    width: 100%;
}

.text-color-grey {
    color: #B7B6B6;
}

.text-bold {
    font-weight: normal !important;
}

.background-color-grey {
    background-color: #f8f8f8;
}

.background-color-grey .item {
    background-color: transparent;
    /*border-color: transparent;*/
}

.background-color-grey .toggle .track {
    background-color: transparent;
}

.home-back-button {
    border-color: transparent;
    background: none;
    box-shadow: none;
    color: #444;
    font-size: 17px;
    line-height: 28px;
    width: 50px;
}

.ion-ios-arrow-back:before {
    font-size: 32px;
}

.welcome .back-button-text {
    display: inline-block;
}

.button-not-authenticated {
    background-color: transparent;
    color: white;
    width: 100%;
    font-size: 15px;
    border-width: 0;
}

.button-not-authenticated.left {
    text-align: right;
    padding-right: 25px;
}

.button-not-authenticated.right {
    text-align: left;
    padding-left: 25px;
}

.pageWithButton ion-content {
    margin-bottom: 50px;
}

.pageWithBigButton ion-content {
    margin-bottom: 59px;

}

.button-bottom {
    bottom: 38px;
    position: absolute;
    border: none;
    font-size: 18px !important;
    font-weight: 600 !important;
}

.mood span.ng-binding {
    line-height: 38px;
}

.mood .ion-plus-circled:before {
    line-height: 34px;
}

.insert-trip .not-auth-background,
.insert-location .not-auth-background {
    background: #fff;
}

/* hahahaha :-D */
.float-right {
    float: right;
}

.bar .button.button-clear .icon:before, .bar .button.button-clear.icon:before, .bar .button.button-clear.icon-left:before, .bar .button.button-clear.icon-right:before {
    font-size: 23px;
    line-height: 31px;
}

.bar .button.button-icon:before, .bar .button .icon:before, .bar .button.icon:before, .bar .button.icon-left:before, .bar .button.icon-right:before {
    padding-right: 2px;
    padding-left: 0;
    font-size: 20px;
    line-height: 31px;
}

.ion-ios-arrow-back:before {
    font-size: 32px;
}

.bar.bar-stable {
    padding: 5px 14px;
    background-color: white;
    border-color: white;
}

.select-elements .circle.circle-selected {
    line-height: 35px;
}

.bar .title + .button:last-child, .bar > .button + .button:last-child, .bar > .button.pull-right, .bar .buttons.pull-right, .bar .title + .buttons {
    right: 9px;
}

ion-nav-view.view-container.tab-content {
    background-color: white;
}

.toggle .track {
    border-color: white;
}

.emoji {
    vertical-align: middle;
}

.fix-item-height {
    height: 54px;
}

.chosen-mood {
    margin-top: -11px !important;
    margin-left: -6px;
}

.moods .item {
    padding: 10px;
}

.moods .mood img.result-mood {
    margin-top: -1px;
}

.auto-height {
    height: auto;
}

/** on keyboard open **/
.keyboard-open ion-tabs .tab-nav.tabs {
    display: none;
}

.keyboard-open .my-has-tabs,
.keyboard-open .button-bottom {
    bottom: 0;
}

.keyboard-open .pageWithBigButton ion-content {
    margin-bottom: 0;
}

.keyboard-open .list.list-inset.bottom {
    bottom: 0;
}

.keyboard-open .messages ion-content.background-color-grey.scroll-content.ionic-scroll.has-header.has-tabs {
    margin-bottom: 0;
}

/** style **/
.remove-margin-bottom {
    margin-bottom: 0;
}

.popup .button.button-positive {
    background-color: rgb(51, 196, 183);
    border-color: rgb(51, 196, 183);
}

.popup {
    border-radius: 3px;
    overflow: hidden;
    background: #EAEDEE;
}

.popup-head {
    border-bottom: 1px solid #eee;
    text-align: center;
    padding: 25px 10px;
    background-color: #32C3B6;
    color: white;
}

h3.popup-title {
    color: white;
    font-size: 16px;
}

.button.button-full {
    border: none;
}

.popup .button.button-positive, .popup-buttons {
    color: #6B6B6B;
    background-color: #F8F8F8;
    border-color: #F8F8F8;
}

.popup-container.error .popup-head {
    background-color: #f05346;
}

.item input, .item textarea {
    font-size: 16px;
}

.loading-container .loading .spinner svg {
    stroke: #32C3B6;
    fill: #32C3B6;
}

.tabs-striped .tab-item.tab-item-active, .tabs-striped .tab-item.active, .tabs-striped .tab-item.activated {
    border: 0;
}

.center {
    text-align: center;
}

.not-auth-container {
    float: left;
    padding: 15px;
    width: 100%;
}

.not-auth-container .image-container-full, .not-auth-container .image-container {
    text-align: center;
    height: auto;
}

.not-auth-container .image-container-full .lorenz {
    display: inline-block;
    background-color: white;
    border-radius: 50%;
    max-width: 200px;
    margin-top: 50px;
}

.insert-trip .not-auth-container .message {
    color: white;
    background: none;
    width: 100%;
    font-weight: 500;
}

.insert-location .not-auth-container .message {
    color: rgb(34, 34, 34);
    background: white;
    width: 100%;
    font-weight: 500;
}

.loading-container .loading .spinner svg path:first-child {
    display: none;
}

.float-width {
    width: 100%;
    float: left;
}

.tabs-striped .tabs {
    padding-top: 0;
}

.tabs-striped .tab-item.tab-item-active, .tabs-striped .tab-item.active, .tabs-striped .tab-item.activated {
    margin-top: 0;
}

.delete-icon {
    width: 25px;
    height: 25px;
    margin-top: 3px;
    margin-right: 5px;
}

.bar .back-button, i.icon.ion-ios-arrow-back.ion-chevron-left {
    padding-right: 30px !important;
    padding-left: 10px !important;
    margin-left: -10px !important;
}

.bar .back-button {
    margin-left: -9px !important;
}

.item.activated {
    background-color: rgba(255, 255, 255, .3);
    border-color: transparent;
}

span.back-text {
    display: none !important;
}

.platform-ios .backdrop {
    margin-top: 20px;
}

.buttons-right {
    height: 100%;
    top: 0 !important;
    line-height: 44px;
}

.buttons-right p {
    padding-top: 0;
}
