/* image tap icon */

.tabs .tab-item .icon {
    background-repeat: no-repeat;
    background-position: 50%;
    height: 69%;
    background-size: contain;

}

.tabs .tab-item .icon.locate {
    background-image: url('../images/icons/white/locate.png');
}

.tabs .tab-item .icon.chat {
    background-image: url('../images/icons/white/messenger.png');
}

.tabs .tab-item .icon.offer {
    background-image: url('../images/icons/white/biete.png');
}

.tabs .tab-item .icon.search {

    background-image: url('../images/icons/white/suche.png');
}

.tabs .tab-item .icon.profile {
    background-image: url('../images/icons/white/profil.png');
}

.tab-nav.tabs {
    color: white;
    background-color: black;
    border-top-width: 0px;
}
