.trip .user-picture {
    border-radius: 50%;
    width: 60px;
    margin-top: -10%;
}

.trip .first-element {
    border-top: transparent;
}

.trip .list-text {
    border-color: #ddd;
    border-width: 1px;
    border-style: solid;
}


.trip .description {
    padding: 16px;
    white-space: initial;
}


.trip .equi-ico {
    margin-top: 0px
}


.trip span.slider-pager-page {
    margin-top: 17px;
}
