.trip .user-picture {
    border-radius: 50%;
    width: 60px;
    margin-top: -10%;
    z-index: 100;
    position: relative;
    margin-left: 10px;
}

.trip .first-element {
    border-top: transparent;
}

.trip .list-text {
    border: 1px solid #ddd;
}

.trip .description {
    padding: 16px;
    white-space: initial;
}

.trip span.slider-pager-page {
    margin-top: 17px;
}

.trip .button-trip-preview {
    height: 60px;
    font-weight: bold;
    color: #fff;
    background-color: #f05346;
    font-size: 20px;
}

.trip .equi-ico.pointer {
    margin: 0;
    width: 12%;
    height: 44px;
    background-size: 100% !important;
    background-repeat: no-repeat;
}

.trip .button-join-trip {
    height: 60px;
    font-weight: bold;
    color: white;
    font-size: 20px;
}

.trip .mood-title {
    line-height: 34px;
}

.trip .padding-left {
    padding-left: 16px;
}

.trip-options .the-toggle {
    float: left;
}

.trip-options .toggle .track {
    border-color: #444;
}

.trip-options .public {
    line-height: 31px;
    margin-left: 10px;
}

li.item.trip-options .delete-icon {
    width: 30px;
    height: 27px;
    float: right;
    margin-top: 0;
}

.trip-options img.icon.edit {
    float: right;
    margin-right: 14px;
    margin-top: -4px;
    height: 37px;
    width: 37px;
}

li.item.config.trip-options {
    border-top-width: 2px;
    border-top-color: rgb(68, 68, 68);
}

.slider-pager {
    bottom: 35px;
}
