.welcome {
    overflow: hidden;
}

.welcome .search,
.welcome .insert,
.welcome .locate {

    width: 100%;
    margin-top: 0px;
    margin-bottom: 0px;
    border-radius: 0px;
    border-width: 0px;

    /*text*/
    font-size: 28px;
    font-weight: 500;
    text-align: left;
    padding-left: 30px;
}

.welcome .height-3 {
    vertical-align: middle;
    height: 33.4%

}

.background-coral {
    background: #f05346;
    color: #fff;
}

.background-green {
    background: #3eb9ad;
    color: #fff;
}

.background-black {
    background: rgb(34, 34, 34);
    color: #fff;
}

.logo {
    height: 60px;
    left: 60%;
    margin-top: -5px;
}

.welcome .tab-icon {
    height: 50%;
    float: right;
    margin-right: 15px;
}

.welcome .tab-title {
    float: left;
    margin-top: 6%;
    display: table-cell;
}

.my-has-tabs {
    bottom: 49px;
}

.welcome button:hover {
    color: #fff;
    text-decoration: none;
}

.welcome .new-height {
    height: 80px
}
