.welcome .search,
.welcome .insert,
.welcome .locate {

    width: 100%;
    margin-top: 0px;
    margin-bottom: 0px;
    border-radius: 0px;
    border-width: 0px;
}

.welcome .height-3 {
    /* 30px = (top(43)+ bottom(49)) / 3 */
    /*height: calc(33vh - 30px);*/
}

.background-coral {
    background: rgb(241, 100, 73);
    color: #fff;
}

.background-green {
    background: rgb(65, 191, 180);
    color: #fff;
}

.background-black {
    background: rgb(0, 0, 0);
    color: #fff;
}

.logo {
    /* TODO use other picture and remove this css option*/
    height: 50px;
}
