<ion-view class="profile" view-title="Übersicht" hide-back-button="true" ng-controller="UserCtrl as uc">
    <ion-nav-buttons side="left ">
        <i class="icon ion-ios-arrow-back ion-chevron-left" ui-sref="tab.welcome"></i>
    </ion-nav-buttons>
    <ion-content>
        <div ng-if="authenticated">
            <div>
                <ul>
                    <li class="item">
                        <img class="profile-image" ng-src="{{uc.user.picture}}">
                        <span class="username">{{uc.user.name}}</span>
                    </li>
                    <li class="item item-icon-right" ui-sref="tab.profile-description({userId:userID})">
                        Mein Profil
                        <i class="icon ion-chevron-right icon-accessory"></i>
                    </li>
                    <li class="item item-icon-right" ui-sref="tab.profile-trips({userId:userID})">
                        Meine Trips
                        <i class="icon ion-chevron-right icon-accessory"></i>
                    </li>
                    <li class="item item-icon-right" ui-sref="tab.profile-locations">
                        Meine Locations
                        <i class="icon ion-chevron-right icon-accessory"></i>
                    </li>
                    <li class="item item-icon-right" ui-sref="tab.profile-settings({userId:userID})">
                        Einstellungen
                        <i class="icon ion-chevron-right icon-accessory"></i>
                    </li>
                    <li class="item" ng-click="uc.logout()">
                        Abmelden
                    </li>
                </ul>
            </div>
        </div>
        <div ng-if="!authenticated">
            Bitte zuerst anmelden
        </div>
    </ion-content>
</ion-view>
