<ion-view view-title="Passwort" ng-controller="UserCtrl as uc">
    <ion-content class="background-color-grey password">
        <form novalidate name="uc.form" id="passwordForm">
            <ul class="list">
                <li ng-class="{'error' : (uc.error) && uc.form.passwort.$error.required}"
                    class="item item-input">
                    <input type="password" ng-model="uc.newPassword" name="passwort"
                           placeholder="Passwort eingeben" required>
                </li>
                <li ng-class="{'error' : (uc.error) && uc.form.passwortCheck.$error.required}"
                    class="item item-input">
                    <input type="password" ng-model="uc.newPasswordCheck" name="passwortCheck"
                           placeholder="Passwort bestätigen" required>
                </li>
                <div ng-class="{open: uc.errormsg}" class="msg error-msg">{{uc.errormsg}}</div>
                <div ng-class="{open: uc.successmsg}" class="msg success-msg">{{uc.successmsg}}</div>

                <button ng-click="uc.updatePassword()" type="submit"
                        class="button button-full background-green bottom">
                    Neues Passwort speichern
                </button>
            </ul>
        </form>
    </ion-content>
</ion-view>
